	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/02/2021 16:54
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-categories:before { content: "\f100"; }
.flaticon-dish:before { content: "\f101"; }
.flaticon-customer:before { content: "\f102"; }
.flaticon-restaurant:before { content: "\f103"; }
.flaticon-order-food:before { content: "\f104"; }
.flaticon-circular-cake-graphic-with-quarter-part-cutted:before { content: "\f105"; }
.flaticon-home:before { content: "\f106"; }