/*
===========================================================================================
.1 Media queries
===========================================================================================
*/


/*screen resolution <= 1200 */

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}


/*screen resolution <= 1024 */

@media screen and (max-width: 1024px) {
    /* block item */
    .container {
        max-width: 900px;
    }
}


/*screen resolution <= 960 */

@media screen and (max-width: 991px) {

    .img-deliverer img{
        display: none; 
    }

    header {
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        background-color: #242020;
    }
    header .card-top menu #check:checked~ul.menu-ul {
        right: 0;
    }
    header .card-top menu label #btn,
    header .card-top menu label #cancel {
        display: block;
        top: 30px;
        right: 25px;
        height: 50px;
    }
    header .card-top menu #check:checked~label #btn {
        pointer-events: none;
        opacity: 0;
    }
    header .card-top menu #check:checked~label #cancel {
        opacity: 1;
        font-size: 25px;
        right: 30px;
        z-index: 888888;
    }
    header .card-top menu ul.menu-ul {
        position: fixed;
        top: 0px;
        right: -50vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 50vw;
        height: 100%;
        background: #fff;
        transition: all 0.2s;
        z-index: 5555;
    }
    header .card-top menu ul.menu-ul li.menu {
        width: 80%;
    }
    header .card-top menu ul.menu-ul .submenu {
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: -165px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    header .card-top menu ul.menu-ul .submenu::after {
        border-radius: 0 0 0px 15px;
    }
    header .card-top menu ul.menu-ul li.menu:hover .submenu {
        top: 0px;
    }
    header .card-top menu ul.menu-ul li.menu:active .submenu {
        display: inline-block;
        position: static;
        top: 100%;
        right: 0px;
        z-index: 1000;
    }
    header .card-top menu ul.menu-ul li.menu a {
        color: #000;
    }
    header .card-top menu ul.menu-ul li a.btn {
        margin: 0;
        padding: 0;
    }
    header .card-top menu ul.menu-ul li a.btn.signIn {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 20px;
        height: 60px;
    }
    header .card-top menu a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 60px;
        font-size: 20px;
        box-sizing: border-box;
        transition: all 0.2s;
    }
    .page.card-top .logo {
        display: flex;
        justify-content: center;
    }
    .page.card-top menu #check:checked~ul.menu-ul {
        right: 0;
    }
    .page.card-top menu label #btn,
    .page.card-top menu label #cancel {
        display: block;
        right: 25px;
        top: 25px;
        height: 50px;
    }
    .page.card-top menu #check:checked~label #btn {
        pointer-events: none;
        opacity: 0;
    }
    .page.card-top menu #check:checked~label #cancel {
        opacity: 1;
        font-size: 25px;
        right: 25px;
        z-index: 888888;
    }
    .page.card-top menu ul.menu-ul {
        position: fixed;
        top: 0px;
        right: -50vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 50vw;
        height: 100%;
        background: #fff;
        transition: all 0.2s;
        z-index: 5555;
    }
    .page.card-top menu ul.menu-ul li.menu {
        width: 80%;
    }
    .page.card-top menu ul.menu-ul .submenu {
        visibility: hidden;
        position: absolute;
        top: 0px;
        left: -165px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .page.card-top menu ul.menu-ul .submenu::after {
        border-radius: 0 0 0px 15px;
    }
    .page.card-top menu ul.menu-ul li.menu a {
        color: #000;
    }
    .page.card-top menu ul.menu-ul .submenu li a {
        color: #fff;
    }
    .page.card-top menu ul.menu-ul li a.btn {
        margin: 0;
        padding: 0;
    }
    .page.card-top menu ul.menu-ul li a.btn.signIn {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 20px;
        height: 60px;
    }
    .page.card-top menu a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 60px;
        font-size: 20px;
        box-sizing: border-box;
        transition: all 0.2s;
    }
    header .card-bottom #lis-input input.writting {
        font-size: 15px;
    }
    header .card-bottom #lis-input .addBtn {
        height: 53px;
        font-size: 15px;
    }
    header::before {
        width: 100%;
        bottom: -90px;
        right: -179px;
    }
    .delivery-howItWorks-section {
        min-height: 50vh;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #E7EAEF;
    }
    .delivery-howItWorks-section .delivery-howItWork-content {
        height: auto;
    }
    .delivery-newPaper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text h1 {
        font-weight: 500;
        font-size: 30px;
    }
    .delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text {
        padding-left: 30px;
    }
    .delivery-newPaper .delivery-newPaper-container .delivery-newPaper-img {
        height: 400px;
        margin-bottom: 20px;
    }
    .suggestions-section .card-section {
        height: auto;
    }
    .suggestions-section .card-section .card-container .card-body h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .suggestions-section .card-section .card-container .card-body p {
        font-size: 15px;
    }
    /* Section title */
    .Popular,
    .howItWorks-section,
    .suggestions-section,
    .delivery-howItWorks-section,
    .delivery-newPaper {
        padding-left: 50px;
        padding-right: 50px;
    }
    /*Restaurant style*/
    page-section .restaurant-categorie-container {
        /* box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 16%); */
        /* -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 16%); */
        /* padding: 25px 50px; */
        /* border-radius: 15px; */
        /* margin-bottom: 130px; */
        /* position: relative; */
        padding-right: 25px;
    }
    .page-section .restaurant-categorie-container .card.item-container .card-container .card-body h5 {
        font-size: 20px;
    }
    .page-section .restaurant-categorie-container .card.item-container .card-container .card-body p.description {
        font-size: 16px;
    }
    /* block item */
    .block-item {
        padding-left: 60px;
    }
    .page-section .order-detail-right {
        margin-right: 20px;
        margin-left: 20px;
        order: 1;
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-section .profileAuth-left {
        margin-right: 20px;
        margin-left: 20px;
        order: 2;
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-section .profileAuth-left.profile {
        margin-right: 0px;
        margin-left: 0px;
        order: 1;
    }
    .page-section .profileAuth-right.profile {
        order: 2;
        padding-right: 30px;
    }
    .page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.photo-profile .table-btn {
        font-size: 15px;
    }
    .page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.photo-profile .photo-container {
        width: 120px;
        height: 120px;
    }
    .page-section .profileAuth-left .profileAuth-left-content table.info-delivery td,
    .page-section .profileAuth-left .profileAuth-left-content table.info-order td {
        font-size: 15px;
        padding: 12px;
    }
}


/*screen resolution <= 720 */

@media screen and (max-width: 720px) {
    /* Header style */
    header::before {
        bottom: -110px;
        right: -70px;
    }
    header.restaurant-home .restaurant-login-logup .content .restaurant-banner-text {
        display: none;
    }
    header.restaurant-home::before {
        display: none;
    }
    header.restaurant-home .restaurant-login-logup .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link {
        font-size: 15px;
    }
    header.restaurant-home .restaurant-login-logup .content .form-tab-container #customer-form .submit-btn,
    header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-registration-form .submit-btn,
    header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-login-form .submit-btn {
        margin-top: 0px;
        padding: 15px 0;
    }
    header.restaurant-home .restaurant-login-logup .content .form-tab-container #customer-form input,
    header.restaurant-home .restaurant-login-logup .content .form-tab-container #customer-form textarea,
    header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-registration-form input,
    header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-registration-form textarea,
    header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-login-form input {
        padding-bottom: 5px;
        font-size: 15px;
    }
    header.restaurant-home .restaurant-login-logup .content .form-tab-container {
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 15px;
    }
    header.restaurant-home .restaurant-login-logup .content .form-tab-container .nav.nav-tabs {
        margin-bottom: 15px;
    }
    /* block item */
    .block-item .item {
        padding-right: 0px;
    }
    .block-item {
        padding-right: 45px;
    }
    /* footer section */
    footer.col-12 .card-top {
        height: auto;
    }
    footer.col-12 .card-top .footer-logo {
        height: auto;
    }
    footer.col-12 .card-top .footer-logo img {
        max-width: 100%;
        height: auto;
    }
    footer.col-12 .card-top .apps-downloaded {
        align-items: center;
        padding-right: 0;
    }
    footer.col-12 .card-top .apps-downloaded h4 {
        font-size: 18px;
    }
    footer.col-12 .card-top .apps-downloaded .btn {
        height: 40px;
    }
    .page-section .profileAuth-left.profile {
        margin-right: 0px;
        margin-left: 0px;
        order: 2;
    }
    .page-section .profileAuth-right.profile {
        order: 1;
        padding-left: 30px;
    }
    /* Single style */
    .page-content .card-body {
        padding: 10px 0px 0px 0px;
    }
}


/*screen resolution <= 540 */

@media screen and (max-width: 540px) {
    /* Header style */
    .page.card-top .logo img {
        margin-left: -30px;
    }
    header .card-top menu ul.menu-ul {
        right: -60vw;
        width: 60vw;
    }
    header::before {
        bottom: -200px;
        right: 0px;
        width: 150%;
    }
    .btn.homePageModalBtn {
        bottom: 46px;
    }
    .hompageModal .modal-dialog .modal-content .modal-footer .progress .progress-bar-container {
        width: 100px;
    }
    header .card-top menu ul.menu-ul .submenu li a {
        padding: 15px 10px;
        width: 40vw;
    }
    header .card-top menu ul.menu-ul .submenu {
        left: -40vw;
    }
    /* Section padding */
    .Popular,
    .howItWorks-section,
    .suggestions-section,
    .delivery-howItWorks-section,
    .delivery-newPaper {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
    }
    .delivery-howItWorks-section .delivery-howItWork-content .howItWorks-text .howItWorks-text-content h1 {
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 25px;
    }
    .delivery-howItWorks-section .delivery-howItWork-content .howItWorks-text .howItWorks-text-content p {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 15px;
    }
    .suggestions-section .section-title {
        padding-left: 15px;
    }
    .section-title h3 {
        font-size: 20px;
    }
    .section-title a {
        font-size: 15px;
    }
    .delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text {
        padding-left: 0px;
    }
    .delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text h1 {
        margin-bottom: 20px;
    }
    .delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text p {
        margin-bottom: 20px;
    }
    .col-12.delivery-newPaper-container {
        padding-right: 0;
        padding-left: 0;
    }
    .delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text a.delivery-newPaper-btn {
        padding: 15px 0px;
        width: 260px;
    }
    .suggestions-section .card-section .card-container .card-container-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    footer.col-12 .description {
        padding-left: 25px;
    }
    .about-section .item .card-container .card-body a.action-btn {
        font-size: 12px;
        padding: 15px 30px;
    }
    /*Restaurant page */
    .pagesBanner.col-12 .slide-title.row h2 {
        font-size: 40px;
    }
    .page-section .form-container #lis-input input.writting {
        padding: 12px;
        font-size: 15px;
    }
    .page-section .form-container #lis-input .addBtn {
        height: 45px;
    }
    .page-section .form-container .location-content {
        height: 50px;
    }
    .page-section .form-container .location-content span.location-pin {
        height: 35px;
        width: 35px;
    }
    .page-section .form-container .location-content span.location-pin img {
        width: 25px;
        height: 25px;
    }
    .page-section .form-container {
        height: 130px;
    }
    .page-section .restaurant-categorie-list {
        padding-bottom: 30px;
        margin-top: 25px;
    }
    .page-section .restaurant-categorie-list ul li a {
        padding: 8px 13px;
        margin-right: 13px;
        margin-bottom: 15px;
        font-size: 15px;
    }
    page-section .restaurant-categorie-container {
        padding-right: 0px;
        padding-left: 25px;
    }
    .page-section .restaurant-categorie-container {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
        padding: 25px 15px;
    }
    .page-section .restaurant-categorie-container .card.item-container .card-container .card-body {
        padding-left: 0px;
    }
    .page-section .restaurant-categorie-container .card.item-container .card-container .card-body p.description {
        font-size: 15px;
        line-height: 20px;
    }
    .page-section .restaurant-categorie-container .card.item-container .card-container .card-body h5 {
        font-size: 18px;
    }
    .page-section .restaurant-categorie-container .card.item-container .card-container .card-body p.location {
        margin-bottom: 5px;
    }
    .pagesBanner.col-12 .slide-title.row h2 {
        font-size: 30px;
    }
    .pagesBanner.col-12 {
        height: 250px;
    }
    .page-section .form-container .location-content h2 {
        font-size: 15px;
    }
    .page-section .form-container .location-content p {
        font-size: 14px;
        line-height: 15px;
    }
    .page-section .restaurant-categorie-container .card.dish-container .card-container .card-img .card-body a {
        margin-left: 15px;
        margin-right: 15px;
    }
    .page-section .profileAuth-left .profileAuth-left-content .order-input-card input {
        font-size: 15px;
    }
    .login-logup-page .content {
        width: 95%;
    }
    .login-logup-page .content .text-card .text-card-content h6 {
        font-size: 16px;
    }
    .login-logup-page .content .text-card .text-card-content .media-social-btn .btn {
        padding: 12px 0;
        margin-bottom: 18px;
        font-size: 15px;
    }
    .login-logup-page .content .text-card .text-card-content {
        padding: 8px;
    }
    .login-logup-page .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link {
        font-size: 12px;
    }
    .login-logup-page .content .form-tab-container {
        padding: 15px 30px;
    }
    .col-sm-6.col-12.forgoten-password.pr-0 {
        float: left;
    }
    .profileAuth-left-content table.info-delivery tr.photo-profile .table-btn {
        padding: 8px;
    }
    .page-section .profileAuth-left .profileAuth-left-content table.info-delivery #update-user-submit {
        background-color: #E8C52A;
        color: #fff;
        padding: 8px 5px;
    }
}


/*screen resolution <= 350 */

@media screen and (max-width: 350px) {
    .hompageModal .modal-dialog .modal-content .modal-footer .progress .progress-bar-container {
        width: 60px;
    }
    .page-section .order-detail-left .order-detail-left-content h4 {
        font-size: 18px;
    }
    .page-section .tab-pane {
        overflow: scroll;
    }
}