/*
===========================================================================================
.7 Pages style
===========================================================================================
*/


/*Preload code*/

.preloader {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999999;
    background-color: #E8C52A;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


/* .preloader-ring {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.preloader-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 3px solid #043E57;
    border-radius: 50%;
    animation: preloader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #043E57 transparent transparent transparent;
}

.preloader-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.preloader-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.preloader-ring div:nth-child(3) {
    animation-delay: -0.15s;
} */


/* #preload-cloud {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 51%;
    left: 51%;
    transform: translate(-50%, -50%);
    animation: cloud-ring 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
} */

.fondu-out {
    opacity: 0;
    visibility: hidden !important;
    transition: all ease-in-out;
}


/* @keyframes preloader-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cloud-ring {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -45%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
} */


/*Page style*/

.page.card-top {
    background-color: #fff;
    z-index: 111;
    padding-top: 15px;
    height: 100px;
}

.page.card-top .container {
    height: 100%;
}

.page.card-top .row.card-top-content {
    align-items: center;
    align-content: center;
    height: 100%;
}

.page.card-top .logo {
    position: relative;
}

.page.card-top .logo img {
    max-height: 200px;
    width: auto;
    margin-left: -62px;
    margin-top: -30px;
}

.page.card-top menu {
    margin-top: 10px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

.page.card-top menu #check {
    display: none;
}

.page.card-top menu label #btn,
.page.card-top menu label #cancel {
    position: fixed;
    cursor: pointer;
    padding: 6px 9px;
    color: #E8C52A;
    display: none;
}

.page.card-top menu label #btn {
    transition: all 0.2s;
    right: 0px;
    bottom: 20px;
    font-size: 30px;
}

.page.card-top menu label #btn:hover {
    color: #E8C52A;
}

.page.card-top menu label #cancel {
    transition: all 0.5s;
    font-size: 30px;
    right: 0px;
    bottom: 20px;
    z-index: 11111111;
    opacity: 0;
}

.page.card-top menu label #cancel:hover {
    color: #E8C52A;
}

.page.card-top menu ul.menu-ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.page.card-top menu ul.menu-ul li.menu {
    position: relative;
    height: 60px;
}

.page.card-top menu ul.menu-ul li.menu:hover .submenu {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    top: 60px;
    z-index: 1000;
}

.page.card-top menu ul.menu-ul li.menu a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    padding: 8px 13px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.page.card-top menu ul.menu-ul li.menu a:hover {
    color: #E8C52A;
}

.page.card-top menu ul.menu-ul li.menu a:hover i {
    color: #E8C52A;
}

.page.card-top menu ul.menu-ul li.menu i {
    font-size: 10px;
}

.page.card-top menu ul.menu-ul li.profile {
    display: flex;
}

.page.card-top menu ul.menu-ul li.profile a.shopping-cart {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    margin-right: 10px;
}

.page.card-top menu ul.menu-ul li.profile a.shopping-cart svg {
    fill: #E8C52A;
}

.page.card-top menu ul.menu-ul li.profile a.shopping-cart .number {
    position: absolute;
    top: 0;
    right: 0;
    color: #E8C52A;
}

.page.card-top menu ul.menu-ul li.profile .location-box {
    display: flex;
}

.page.card-top menu ul.menu-ul li.profile .location-box .location-pin svg {
    fill: #E8C52A;
}

.page.card-top menu ul.menu-ul li.profile .location-box h2 {
    font-size: 18px;
    color: #fff;
    margin-left: 5px;
    font-weight: 400;
}

.page.card-top menu ul.menu-ul li.profile .location-box h2 nav {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}

.page.card-top menu ul.menu-ul li.profile .profile-ph {
    margin-left: 10px;
}

.page.card-top menu ul.menu-ul .submenu {
    visibility: hidden;
    position: absolute;
    top: 90px;
    opacity: 0;
    left: 0px;
    padding: 0;
    border-radius: 7px;
    list-style: none;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.page.card-top menu ul.menu-ul .submenu::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: #E8C52A;
    border-radius: 0 0 15px 15px;
}

.page.card-top menu ul.menu-ul .submenu li a {
    padding: 15px 30px;
    font-size: 13px;
    width: 160px;
    transition: transform 0.2s ease-in-out;
    color: #fff;
}

.page.card-top menu ul.menu-ul .submenu li a:hover {
    padding-top: 15px;
    border-bottom: none;
    transform: scale(1.1);
}

.page.card-top menu ul.menu-ul li a.btn {
    padding: 10px 15px;
    background-color: #E8C52A;
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    margin-left: 35px;
    margin-right: 20px;
    box-shadow: 0px 0px 8px 0px rgba(232, 197, 42, 0.4);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(232, 197, 42, 0.4);
}

.page.card-top menu ul.menu-ul li a.btn:hover {
    background-color: #b29513;
}

.page.card-top menu ul.menu-ul li .lang-btn {
    padding-top: 10px;
}

.page.card-top menu ul.menu-ul li .lang-btn img {
    border-radius: 50%;
    margin-top: 6px;
}

.page.card-top menu ul.menu-ul::after {
    content: "";
    display: table;
    clear: both;
}

.pagesBanner.col-12 {
    height: 350px;
    position: relative;
}

.pagesBanner.col-12 .slide-title.row {
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: #E8C52A;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.pagesBanner.col-12 .slide-title.row h2 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    color: #fff;
    margin-top: -80px;
}

.page-section .form-container {
    height: 150px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
    margin-top: -75px;
    background-color: #fff;
}

.page-section .form-container .row {
    height: 100%;
    align-items: center;
}

.page-section .form-container .location-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #E8C52A;
    border-radius: 8px;
    padding: 5px 20px;
    float: right;
}

.page-section .form-container .location-content h2 {
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    margin-bottom: 0;
}

.page-section .form-container .location-content p {
    font-size: 15px;
    opacity: 0.8;
    margin-bottom: 0;
    margin-left: 15px;
}

.page-section .form-container .location-content span.location-pin {
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}


/*
.7.1 Restaurant page style
*/

.page-section .restaurant-categorie-list {
    padding-bottom: 50px;
    margin-top: 50px;
}

.page-section .restaurant-categorie-list ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.page-section .restaurant-categorie-list ul li {
    list-style-type: none;
    /* padding: 10px 15px; */
    /* border: 2px solid #E8C52A; */
    /* margin-right: 15px; */
    /* border-radius: 50px; */
    /* transition: all 0.3s; */
    /* margin-bottom: 15px; */
}


/* .page-section .restaurant-categorie-list ul li {} */

.page-section .restaurant-categorie-list ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    /* list-style-type: none; */
    padding: 10px 15px;
    border: 2px solid #E8C52A;
    margin-right: 15px;
    border-radius: 50px;
    transition: all 0.3s;
    margin-bottom: 15px;
}

.page-section .restaurant-categorie-list ul li a:hover {
    background-color: #E8C52A;
    box-shadow: 0px 0px 10px 0px rgba(232, 197, 42, 0.16);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(232, 197, 42, 0.16);
}

.page-section .restaurant-categorie-list ul li a.active {
    background-color: #E8C52A;
    color: #fff;
}


/* .page-section .restaurant-categorie-list ul li:hover a {
    color: #fff;
} */

.page-section .restaurant-categorie-list ul li.see-more-btn {
    background-color: #808080;
    border: none;
}

.page-section .restaurant-categorie-list ul li.see-more-btn a {
    color: #fff;
}

.page-section .form-container #lis-input {
    position: relative;
    margin-bottom: 0;
}

.page-section .form-container #lis-input input.writting {
    padding: 15px;
    border-radius: 5px;
    border: none;
    width: 100%;
    background-color: #f5f4f4;
    font-size: 18px;
    margin-bottom: 0px;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16); */
    transition: all .3s ease-in-out;
}


.page-section .form-container #lis-input input.writting:focus {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    background-color: white;
    outline: none;
}

.page-section .form-container #lis-input .addBtn {
    position: absolute;
    top: 0px;
    right: 15px;
    height: 57px;
    width: 100px;
    cursor: pointer;
    border: 0;
    background: #E8C52A;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}

.page-section .restaurant-categorie-container {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
    padding: 25px 50px;
    border-radius: 15px;
    margin-bottom: 130px;
    /* position: relative; */
}


/* .smooth-id {
    position: absolute;
    top: -180px;
    left: 0;
} */

.page-section .restaurant-categorie-container h3 {
    font-weight: 500;
}

.page-section .restaurant-categorie-container .row.dish-content {
    margin-right: -50px !important;
}

.page-section .restaurant-categorie-container .card.item-container {
    border-radius: 15px;
    border: 0;
    padding: 30px;
    position: relative;
}

.page-section .restaurant-categorie-container .card.item-container .card-container {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 0px;
    height: 250px;
}

.page-section .restaurant-categorie-container .card.item-container .card-container .card-img {
    height: 100%;
    padding-left: 0;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.page-section .restaurant-categorie-container .card.item-container .card-container .card-body {
    padding: 15px;
}

.page-section .restaurant-categorie-container .card.item-container .card-container .card-body a {
    text-decoration: none;
}

.page-section .restaurant-categorie-container .card.item-container .card-container .card-body .note-promo {
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
    border-radius: 0 15px 0 15px;
    background-color: #000;
    width: 80px;
    text-align: center;
    color: #E8C52A;
    opacity: 1;
    font-size: 18px;
}

.page-section .restaurant-categorie-container .card.item-container .card-container .card-body p.location {
    color: #000;
    opacity: 0.6;
    font-size: 16px;
}

.page-section .restaurant-categorie-container .card.item-container .card-container .card-body h5 {
    font-weight: 400;
    font-size: 35px;
    color: #000;
}

.page-section .restaurant-categorie-container .card.item-container .card-container .card-body p.description {
    font-size: 18px;
    color: #000;
    opacity: 0.6;
}

.page-section .restaurant-categorie-container .card.dish-container {
    position: relative;
}

.page-section .restaurant-categorie-container .card.dish-container .card-container .card-img {
    padding: 0;
    border-radius: 15px;
}

.page-section .restaurant-categorie-container .card.dish-container .card-container .card-img .card-body {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */
    background: linear-gradient(transparent, #000);
}

.page-section .restaurant-categorie-container .card.dish-container .card-container .card-img .card-body .price {
    position: absolute;
    padding: 5px;
    top: 15px;
    left: 15px;
    border-radius: 15px;
    background-color: #000;
    width: 100px;
    text-align: center;
    color: #E8C52A;
    opacity: 1;
    font-size: 18px;
}

.page-section .restaurant-categorie-container .card.dish-container .card-container .card-img .card-body a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.page-section .restaurant-categorie-container .card.dish-container .card-container .card-img .card-body h5 {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.page-section .restaurant-categorie-container .card.dish-container .card-container .card-img .card-body p.description {
    font-size: 13px;
    color: #fff;
    opacity: 1;
    margin-bottom: 0;
}

.page-section .restaurant-categorie-container .modal modal-body button {
    border: 0;
    margin-top: 15px;
}

.page-section .restaurant-categorie-container .modal modal-body .food-img.col-12.overflow-hidden.mb-20 {
    margin-top: 25px;
}


/*
*   food part conatainer style
*/

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer {
    margin-top: 20px;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group {
    position: relative;
    padding: 10px;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group .checkmark {
    position: absolute;
    top: 15px;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #E8C52A;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group input:checked~.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group {
    background-color: #E8C52A;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group .checkmark:after {
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #E8C52A;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group .checkmark-box {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #E8C52A;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group .checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group input:checked~.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group {
    background-color: #E8C52A;
}


/* .page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group .checkmark-box:after {
    top: 2px;
    left: 2px;
    width: 19px;
    height: 19px;
    background: #E8C52A;
} */

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group input[type=radio] {
    margin-top: 0;
    position: absolute;
    top: 15px;
    left: 0;
    height: 25px;
    width: 25px;
    z-index: 1111;
    opacity: 0;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group input[type=checkbox] {
    margin-top: 0;
    position: absolute;
    top: 0px;
    left: 0;
    height: 25px;
    width: 25px;
    z-index: 1111;
    opacity: 0;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    opacity: 0.8;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group label span {
    color: #E8C52A;
    opacity: 1;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group input[type=text],
.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group select,
.page-section .restaurant-categorie-container .modal-dialog .modal-body .food-part-conatainer .form-group textarea {
    border: 2px solid #E7EAEF;
    border-radius: 5px;
    width: 100%;
    padding: 13px 6px;
    margin-top: 10px;
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-body h1 {
    font-size: 23px;
    line-height: 30px;
}

.page-section .restaurant-categorie-container .modal-dialog .modal-footer {
    justify-content: space-between;
}


/*
.7.2 Order Detail style
*/

.pagesSlide {
    height: 100px;
    background-color: #E8C52A;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.pagesSlide a {
    text-decoration: none;
}

.pagesSlide i {
    margin-right: 20px;
}

.pagesSlide h2 {
    color: #fff;
    font-size: 25px;
}

.page-section .order-detail-left .order-detail-left-content .order-input-card img {
    width: 25px;
}

.page-section .order-detail-left {
    padding-right: 20px;
    margin-bottom: 50px;
}

.page-section .order-detail-left .order-detail-left-content {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.page-section .order-detail-left .order-detail-left-content h3 {
    margin-bottom: 25px;
    font-weight: 500;
}

.page-section .order-detail-left .order-detail-left-content h4 {
    margin-bottom: 15px;
}

.page-section .order-detail-left .order-detail-left-content .map-google {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 50px;
}

.page-section .order-detail-left .order-detail-left-content .map-google img {
    max-width: 100%;
    height: auto;
}

.page-section .order-detail-left .order-detail-left-content .order-input-card {
    width: 100%;
    margin-bottom: 40px;
}

.page-section .order-detail-left .order-detail-left-content .order-input-card input {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    width: 80%;
}

.page-section .order-detail-left .order-detail-left-content button.submit-butn {
    background-color: #000;
    height: 50px;
    border-radius: 50px;
    color: #E8C52A;
    border: 0;
    transition: all 0.3s;
    padding-right: 15px;
    padding-left: 15px;
}

.page-section .order-detail-left .order-detail-left-content button.submit-butn:hover {
    background-color: #E8C52A;
    color: #fff;
}

.page-section .order-detail-right {
    padding-left: 20px;
    margin-bottom: 50px;
}

.page-section .order-detail-right .order-detail-right-content {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.page-section .order-detail-right .order-detail-right-content table.info-table td {
    opacity: 0.8;
}

.page-section .order-detail-right .order-detail-right-content table.info-table tr.total td {
    color: #E8C52A;
}

.page-section .order-detail-right .order-detail-right-content table.info-table tr.total-pay {
    font-size: 20px;
    font-weight: 18px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.page-section .order-detail-right .order-detail-right-content table.info-table tr.total-pay td.price {
    color: red;
    opacity: 0.7;
}


/*
============================================================================================
.14 Restaurant home page Style
============================================================================================
*/

header.restaurant-home {
    height: 130vh;
    overflow: hidden;
    position: relative;
    background-image: url("/img/8.jpg");
    background-size: cover;
    background-position: center;
}

header.restaurant-home::before {
    content: "";
    position: absolute;
    background-image: url("/img/bg-form.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 50%;
    bottom: 40px;
    left: -30px;
}

header.restaurant-home .container {
    height: 100%;
    max-width: 1200px;
}

header.restaurant-home .card-top {
    z-index: 111;
    height: 80px;
    overflow: hidden;
}

header.restaurant-home .card-top .row.card-top-content {
    align-items: center;
    align-content: center;
    height: 100%;
}

header.restaurant-home .card-top .logo {
    position: relative;
}

header.restaurant-home .card-top .logo img {
    max-height: 200px;
    width: auto;
    /* margin-left: -80px; */
}

header.restaurant-home .card-top menu {
    margin-top: 10px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

header.restaurant-home .card-top menu #check {
    display: none;
}

header.restaurant-home .card-top menu label #btn,
header.restaurant-home .card-top menu label #cancel {
    position: absolute;
    cursor: pointer;
    padding: 6px 9px;
    color: #E8C52A;
    display: none;
}

header.restaurant-home .card-top menu label #btn {
    transition: all 0.2s;
    right: 0px;
    bottom: 20px;
    font-size: 30px;
}

header.restaurant-home .card-top menu label #btn:hover {
    color: #E8C52A;
}

header.restaurant-home .card-top menu label #cancel {
    transition: all 0.5s;
    font-size: 30px;
    right: 0px;
    bottom: 20px;
    z-index: 11111111;
    opacity: 0;
}

header.restaurant-home .card-top menu label #cancel:hover {
    color: #E8C52A;
}

header.restaurant-home .card-top menu ul.menu-ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

header.restaurant-home .card-top menu ul.menu-ul li.menu {
    position: relative;
    height: 60px;
}

header.restaurant-home .card-top menu ul.menu-ul li.menu:hover .submenu {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    top: 60px;
    z-index: 1000;
}

header.restaurant-home .card-top menu ul.menu-ul li.menu a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
    padding: 8px 13px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

header.restaurant-home .card-top menu ul.menu-ul li.menu a:hover {
    color: #E8C52A;
}

header.restaurant-home .card-top menu ul.menu-ul li.menu a:hover i {
    color: #E8C52A;
}

header.restaurant-home .card-top menu ul.menu-ul li.menu i {
    font-size: 10px;
}

header.restaurant-home .card-top menu ul.menu-ul .submenu {
    visibility: hidden;
    position: absolute;
    top: 90px;
    opacity: 0;
    left: 0px;
    padding: 0;
    border-radius: 7px;
    list-style: none;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

header.restaurant-home .card-top menu ul.menu-ul .submenu::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: #E8C52A;
    border-radius: 0 0 15px 15px;
}

header.restaurant-home .card-top menu ul.menu-ul .submenu li a {
    padding: 15px 30px;
    font-size: 13px;
    width: 160px;
    transition: transform 0.2s ease-in-out;
    color: #000;
}

header.restaurant-home .card-top menu ul.menu-ul .submenu li a:hover {
    padding-top: 15px;
    border-bottom: none;
    transform: scale(1.1);
}

header.restaurant-home .card-top menu ul.menu-ul li a.btn {
    padding: 10px 15px;
    background-color: #E8C52A;
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    margin-left: 35px;
    margin-right: 20px;
}

header.restaurant-home .card-top menu ul.menu-ul li a.btn:hover {
    background-color: #b29513;
}

header.restaurant-home .card-top menu ul.menu-ul li .lang-btn {
    padding-top: 10px;
}

header.restaurant-home .card-top menu ul.menu-ul li .lang-btn img {
    border-radius: 50%;
    margin-top: 6px;
}

header.restaurant-home .card-top menu ul.menu-ul::after {
    content: "";
    display: table;
    clear: both;
}

header.restaurant-home .restaurant-login-logup {
    margin-bottom: 50px;
}

header.restaurant-home .restaurant-login-logup .content {
    overflow: hidden;
    /* background-color: #fff; */
    margin: auto;
    margin-top: 50px;
    /* border-radius: 15px; */
    position: relative;
    z-index: 9000;
    justify-content: flex-end;
}

header.restaurant-home .restaurant-login-logup .content .restaurant-banner-text h1 {
    /* padding-top: 125px; */
    font-size: 20px !important;
    width: 90%;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

header.restaurant-home .restaurant-login-logup .content .restaurant-banner-text{
    /* padding-top: 125px; */
   
    display: flex;
    align-items: center;
    justify-content: center;
}

header.restaurant-home .restaurant-login-logup .content .text-card {
    background-image: url("../img/123.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    padding: 0;
    opacity: 0;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content {
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content .logo-container img {
    max-width: 500px;
    height: auto;
    margin-top: -100px;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content h6 {
    font-size: 40px;
    color: #fff;
    line-height: 60px;
    margin-bottom: 25px;
    font-weight: 500;
    margin-top: -50px;
    text-align: center;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content p {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    color: #fff;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content .media-social-btn {
    width: 100%;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content .media-social-btn .btn {
    padding: 15px 0;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 100%;
    transition: all 0.4s;
    opacity: 0;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content .media-social-btn .btn svg {
    fill: #fff;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content .media-social-btn .fb-btn {
    background-color: #4267B2;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content .media-social-btn .fb-btn:hover {
    background-color: #34518d;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content .media-social-btn .gmail-btn {
    background-color: #DB4437;
}

header.restaurant-home .restaurant-login-logup .content .text-card .text-card-content .media-social-btn .gmail-btn:hover {
    background-color: #bd2e22;
}

header.restaurant-home .restaurant-login-logup .content .form-tab-container {
    padding: 20px 50px;
    background-color: #fff;
    border-radius: 15px;
}

header.restaurant-home .restaurant-login-logup .content .form-tab-container .nav.nav-tabs {
    border-bottom: 2px solid #000;
    margin-bottom: 50px;
}

header.restaurant-home .restaurant-login-logup .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link {
    color: #000;
    text-decoration: none;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

header.restaurant-home .restaurant-login-logup .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link.active {
    position: relative;
    color: #E8C52A;
}

header.restaurant-home .restaurant-login-logup .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link.active::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #E8C52A;
}

header.restaurant-home .restaurant-login-logup .content .form-tab-container #customer-form input,
header.restaurant-home .restaurant-login-logup .content .form-tab-container #customer-form textarea,
header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-registration-form input,
header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-registration-form textarea,
header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-login-form input {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 0px;
}

header.restaurant-home .restaurant-login-logup .content .form-tab-container #customer-form textarea,
header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-registration-form textarea,
header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-login-form textarea {
    margin-top: 20px;
}

header.restaurant-home .restaurant-login-logup .content .form-tab-container #customer-form .submit-btn,
header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-registration-form .submit-btn,
header.restaurant-home .restaurant-login-logup .content .form-tab-container #restaurant-login-form .submit-btn {
    margin-top: 25px;
    padding: 15px 0;
    color: #fff;
    border: 0;
    border-radius: 8px;
    background-color: #E8C52A;
    font-size: 16px;
}


/*
===========================================================================================
.8 Login Logup page style
===========================================================================================
*/

.login-logup-page .content {
    width: 80%;
    min-height: 80vh;
    overflow: hidden;
    background-color: #fff;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.64);
}

.login-logup-page .content .text-card {
    background-color: #000;
    border-radius: 15px 0 0 15px;
}

.login-logup-page .content .text-card .text-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logup-page .content .text-card .text-card-content .logo-container img {
    max-width: 200px;
    height: auto;
}

.login-logup-page .content .text-card .text-card-content h6 {
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 25px;
}

.login-logup-page .content .text-card .text-card-content .media-social-btn {
    width: 100%;
}

.login-logup-page .content .text-card .text-card-content .media-social-btn .btn {
    padding: 15px 0;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 100%;
    transition: all 0.4s;
}

.login-logup-page .content .text-card .text-card-content .media-social-btn .btn svg {
    fill: #fff;
}

.login-logup-page .content .text-card .text-card-content .media-social-btn .fb-btn {
    background-color: #4267B2;
    font-size: 15px;
}

.login-logup-page .content .text-card .text-card-content .media-social-btn .fb-btn:hover {
    background-color: #34518d;
}

.login-logup-page .content .text-card .text-card-content .media-social-btn .gmail-btn {
    background-color: #DB4437;
    font-size: 15px;
}

.login-logup-page .content .text-card .text-card-content .media-social-btn .gmail-btn:hover {
    background-color: #bd2e22;
}

.login-logup-page .content .form-tab-container {
    padding: 20px 50px;
}

.login-logup-page .content .form-tab-container .nav.nav-tabs {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.login-logup-page .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link {
    color: #000;
    text-decoration: none;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    opacity: 0.5;
}

.login-logup-page .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link.active {
    position: relative;
    color: #E8C52A;
    opacity: 1;
}

.login-logup-page .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link.active::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #E8C52A;
}

.login-logup-page .content .form-tab-container #customer-form input,
.login-logup-page .content .form-tab-container #customer-form textarea {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.login-logup-page .content .form-tab-container #customer-form textarea {
    margin-top: 20px;
}

.login-logup-page .content .form-tab-container #customer-form .submit-btn {
    margin-top: 25px;
    padding: 15px 0;
    color: #fff;
    border: 0;
    border-radius: 8px;
    background-color: #E8C52A;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.login-logup-page .content .form-tab-container #customer-login-form input,
.login-logup-page .content .form-tab-container #customer-login-form textarea {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.login-logup-page .content .form-tab-container #customer-login-form textarea {
    margin-top: 20px;
}

.login-logup-page .content .form-tab-container #customer-login-form .submit-btn {
    margin-top: 25px;
    padding: 15px 0;
    color: #fff;
    border: 0;
    border-radius: 8px;
    background-color: #E8C52A;
    font-size: 18px;
}

.iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%;
}


/*
============================================================================================
.10 Delivery home page Style
============================================================================================
*/

header.delivery-home {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #E8C52A;
}

header.delivery-home::before {
    content: "";
    position: absolute;
    background-color: #fff;
    background-image: none;
    height: 100%;
    width: 60%;
    bottom: 0px;
    right: 0px;
}

header.delivery-home .container {
    height: 100%;
    max-width: 1200px;
}

header.delivery-home .card-top {
    z-index: 111;
    background-color: #fff;
    height: 80px;
    overflow: hidden;
}

header.delivery-home .card-top .row.card-top-content {
    align-items: center;
    align-content: center;
    height: 100%;
}

header.delivery-home .card-top .logo img {
    max-height: 200px;
    width: auto;
    margin-left: -80px;
}

header.delivery-home .card-top menu {
    margin-top: 10px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

header.delivery-home .card-top menu #check {
    display: none;
}

header.delivery-home .card-top menu label #btn,
header.delivery-home .card-top menu label #cancel {
    position: absolute;
    cursor: pointer;
    padding: 6px 9px;
    color: #E8C52A;
    display: none;
}

header.delivery-home .card-top menu label #btn {
    transition: all 0.2s;
    right: 0px;
    bottom: 20px;
    font-size: 30px;
}

header.delivery-home .card-top menu label #btn:hover {
    color: #E8C52A;
}

header.delivery-home .card-top menu label #cancel {
    transition: all 0.5s;
    font-size: 30px;
    right: 0px;
    bottom: 20px;
    z-index: 11111111;
    opacity: 0;
}

header.delivery-home .card-top menu label #cancel:hover {
    color: #E8C52A;
}

header.delivery-home .card-top menu ul.menu-ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: end;
}

header.delivery-home .card-top menu ul.menu-ul li.menu {
    position: relative;
    height: 60px;
}

header.delivery-home .card-top menu ul.menu-ul li.menu:hover .submenu {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    top: 60px;
    z-index: 1000;
}

header.delivery-home .card-top menu ul.menu-ul li.menu a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
    padding: 8px 13px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

header.delivery-home .card-top menu ul.menu-ul li.menu a:hover {
    color: #E8C52A;
}

header.delivery-home .card-top menu ul.menu-ul li.menu a:hover i {
    color: #E8C52A;
}

header.delivery-home .card-top menu ul.menu-ul li.menu i {
    font-size: 10px;
}

header.delivery-home .card-top menu ul.menu-ul .submenu {
    visibility: hidden;
    position: absolute;
    top: 90px;
    opacity: 0;
    left: 0px;
    padding: 0;
    border-radius: 7px;
    list-style: none;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

header.delivery-home .card-top menu ul.menu-ul .submenu::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: #E8C52A;
    border-radius: 0 0 15px 15px;
}

header.delivery-home .card-top menu ul.menu-ul .submenu li a {
    padding: 15px 30px;
    font-size: 13px;
    width: 160px;
    transition: transform 0.2s ease-in-out;
    color: #000;
}

header.delivery-home .card-top menu ul.menu-ul .submenu li a:hover {
    padding-top: 15px;
    border-bottom: none;
    transform: scale(1.1);
}

header.delivery-home .card-top menu ul.menu-ul li a.btn {
    padding: 10px 15px;
    background-color: #E8C52A;
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    margin-left: 35px;
    margin-right: 20px;
}

header.delivery-home .card-top menu ul.menu-ul li a.btn:hover {
    background-color: #b29513;
}

header.delivery-home .card-top menu ul.menu-ul li .lang-btn {
    padding-top: 10px;
}

header.delivery-home .card-top menu ul.menu-ul li .lang-btn img {
    border-radius: 50%;
    margin-top: 6px;
}

header.delivery-home .card-top menu ul.menu-ul::after {
    content: "";
    display: table;
    clear: both;
}

header.delivery-home .delivery-login-logup {
    margin-bottom: 50px;
}

header.delivery-home .delivery-login-logup .content {
    overflow: hidden;
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    position: relative;
    z-index: 9000;
}

header.delivery-home .delivery-login-logup .content .text-card {
    background-image: url("../img/123.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    padding: 0;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content {
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content .logo-container img {
    max-width: 500px;
    height: auto;
    margin-top: -100px;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content h6 {
    font-size: 40px;
    color: #fff;
    line-height: 60px;
    margin-bottom: 25px;
    font-weight: 500;
    margin-top: -50px;
    text-align: center;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content p {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    color: #fff;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content .media-social-btn {
    width: 100%;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content .media-social-btn .btn {
    padding: 15px 0;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 100%;
    transition: all 0.4s;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content .media-social-btn .btn svg {
    fill: #fff;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content .media-social-btn .fb-btn {
    background-color: #4267B2;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content .media-social-btn .fb-btn:hover {
    background-color: #34518d;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content .media-social-btn .gmail-btn {
    background-color: #DB4437;
}

header.delivery-home .delivery-login-logup .content .text-card .text-card-content .media-social-btn .gmail-btn:hover {
    background-color: #bd2e22;
}

header.delivery-home .delivery-login-logup .content .form-tab-container {
    padding: 20px 50px;
}

header.delivery-home .delivery-login-logup .content .form-tab-container .nav.nav-tabs {
    border-bottom: 2px solid #000;
    margin-bottom: 50px;
}

header.delivery-home .delivery-login-logup .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link {
    color: #000;
    text-decoration: none;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

header.delivery-home .delivery-login-logup .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link.active {
    position: relative;
    color: #E8C52A;
}

header.delivery-home .delivery-login-logup .content .form-tab-container .nav.nav-tabs a.nav-item.nav-link.active::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #E8C52A;
}

header.delivery-home .delivery-login-logup .content .form-tab-container #customer-form input,
header.delivery-home .delivery-login-logup .content .form-tab-container #customer-form textarea {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

header.delivery-home .delivery-login-logup .content .form-tab-container #customer-form textarea {
    margin-top: 20px;
}

header.delivery-home .delivery-login-logup .content .form-tab-container #customer-form .submit-btn {
    margin-top: 25px;
    padding: 15px 0;
    color: #fff;
    border: 0;
    border-radius: 8px;
    background-color: #E8C52A;
    font-size: 18px;
}

.delivery-howItWorks-section {
    min-height: 50vh;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E7EAEF;
}

.delivery-howItWorks-section .delivery-howItWork-content {
    width: 100%;
    height: 350px;
    text-align: center;
    position: relative;
}

.delivery-howItWorks-section .delivery-howItWork-content::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: #E8C52A;
}

.delivery-howItWorks-section .delivery-howItWork-content::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background-color: #E8C52A;
    z-index: 1;
}

.delivery-howItWorks-section .delivery-howItWork-content .row {
    height: 100%;
    width: 100%;
    background-color: transparent;
    margin-right: 0;
    margin-left: 0;
}

.delivery-howItWorks-section .delivery-howItWork-content .howItWorks-text {
    padding: 8px;
}

.delivery-howItWorks-section .delivery-howItWork-content .howItWorks-text .howItWorks-text-content {
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 15px 0 15px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1000;
    padding: 20px;
}

.delivery-howItWorks-section .delivery-howItWork-content .howItWorks-text .howItWorks-text-content h1 {
    margin-bottom: 25px;
    font-weight: 600;
}

.delivery-howItWorks-section .delivery-howItWork-content .howItWorks-text .howItWorks-text-content p {
    font-size: 18px;
    font-weight: 500;
}

.delivery-newPaper {
    padding: 100px 0;
    overflow: hidden;
}

.delivery-newPaper .delivery-newPaper-container .row {
    margin-left: 0;
    margin-right: 0;
}

/* .delivery-newPaper .delivery-newPaper-container .delivery-newPaper-img {
    background-size: cover;
    background-position: center;
    height: 500px;
    border-radius: 15px;
} */

.delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text h1 {
    font-weight: 500;
    font-size: 40px;
    color: #000;
    margin-bottom: 50px;
}

.delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
}

.delivery-newPaper .delivery-newPaper-container .delivery-newPaper-text a.delivery-newPaper-btn {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 15px 20px;
    background-color: #000;
    border-radius: 50px;
    width: 300px;
    text-align: center;
}

.suggestions-section {
    height: auto;
}

.suggestions-section .section-title {
    padding-left: 0;
}

.suggestions-section .section-title h3 {
    margin-bottom: 50px;
}

.suggestions-section .card-section {
    height: 440px;
}

.suggestions-section .card-section .row.card-section-content {
    height: 100%;
}

.suggestions-section .card-section .card-container {
    padding: 0;
    height: 100%;
}

.suggestions-section .card-section .card-container:hover {
    webkit-box-shadow: 0 25px 45px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 25px 45px 0 rgba(0, 0, 0, 0.1);
}

.suggestions-section .card-section .card-container .card-container-content {
    transition: all 0.4s ease;
    position: relative;
    padding-top: 2.6875rem;
    padding-bottom: 2.6875rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: 2px solid #e3e3e3;
    margin-left: -1px;
    min-height: 100%;
}

.suggestions-section .card-section .card-container .card-container-content:hover .post-thumb {
    opacity: 1;
}

.suggestions-section .card-section .card-container .card-container-content:hover .post-thumb::before {
    opacity: 0.8;
}

.suggestions-section .card-section .card-container .card-container-content:hover .card-body h1,
.suggestions-section .card-section .card-container .card-container-content:hover .card-body h4,
.suggestions-section .card-section .card-container .card-container-content:hover .card-body p,
.suggestions-section .card-section .card-container .card-container-content:hover .card-body a {
    color: #fff;
}

.suggestions-section .card-section .card-container .post-thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    z-index: 1;
}

.suggestions-section .card-section .card-container .post-thumb::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.suggestions-section .card-section .card-container .card-body {
    position: relative;
    z-index: 10;
    text-align: center;
}

.suggestions-section .card-section .card-container .card-body h4 {
    font-weight: 600;
    color: #000;
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 98%;
}

.suggestions-section .card-section .card-container .card-body p {
    color: #000;
    opacity: 0.8;
    font-size: 20px;
}

.suggestions-section .card-section .card-container .card-body a.card-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    transition: color 0.2s;
}

.suggestions-section .card-section .card-container .card-body a.card-btn:hover {
    color: #E8C52A;
}

.suggestions-section .card-section .card-container .card-body i {
    margin-right: 5px;
}


/*
============================================================================================
.11 Delivery choose move means
============================================================================================
*/

.choose-move-maens-section .content {
    width: 80%;
    min-height: 80vh;
    overflow: hidden;
    background-color: #fff;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.16);
}

.choose-move-maens-section .content .form-container {
    padding: 0;
}

.choose-move-maens-section .content .form-container #delivery-form {
    padding-bottom: 50px;
}

.choose-move-maens-section .content .form-container #delivery-form h3.section-title {
    background-color: #E8C52A;
    padding: 25px 50px;
    margin-bottom: 50px;
}

.choose-move-maens-section .content .form-container #delivery-form .choice-container {
    padding-left: 60px;
    padding-right: 60px;
}

.choose-move-maens-section .content .form-container #delivery-form .choice-container .vehicoleType {
    border-radius: 15px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}

.choose-move-maens-section .content .form-container #delivery-form .choice-container .vehicoleType span {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
}

.choose-move-maens-section .content .form-container #delivery-form .choice-container .box-checked:active .vehicoleType {
    background-color: #E8C52A;
}

.choose-move-maens-section .content .form-container #delivery-form .submit-btn {
    margin-top: 25px;
    padding: 15px 0;
    color: #E8C52A;
    border: 0;
    border-radius: 50px;
    background-color: #000;
    font-size: 18px;
}


/*
============================================================================================
.12 Delivery last step to sign up
============================================================================================
*/

.last-register-step .content {
    width: 80%;
    min-height: 80vh;
    overflow: hidden;
    background-color: #fff;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.last-register-step .content .form-container {
    padding: 0;
}

.last-register-step .content .form-container #delivery-form {
    padding-bottom: 50px;
}

.last-register-step .content .form-container #delivery-form h3.section-title {
    background-color: none;
    padding: 25px 50px;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
    font-size: 35px;
}

.last-register-step .content .form-container #delivery-form p.title-desc {
    text-align: center;
}

.last-register-step .content .form-container #delivery-form .choice-container {
    padding-left: 60px;
    padding-right: 60px;
}

.last-register-step .content .form-container #delivery-form .choice-container .item {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    margin-bottom: 25px;
}


/* .last-register-step .content .form-container #delivery-form .PhotoID-content {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
} */

.last-register-step .content .form-container #delivery-form .PhotoID-content .card-right {
    border-radius: 8px;
}

.last-register-step .content .form-container #delivery-form .PhotoID-content .card-right img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.last-register-step .content .form-container #delivery-form .choice-container .item.registration_number input {
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    border: none;
}

.last-register-step .content .form-container #delivery-form .choice-container .item .box-checked {
    opacity: 0;
}

.last-register-step .content .form-container #delivery-form .choice-container .item.paperID select,
.last-register-step .content .form-container #delivery-form .choice-container .item.paperID input {
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    border: none;
}

.last-register-step .content .form-container #delivery-form .choice-container .item span {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
    pointer-events: none;
}

.last-register-step .content .form-container #delivery-form .choice-container .item.paperID {
    background-color: rgba(35, 107, 190, 0.22);
}

.last-register-step .content .form-container #delivery-form .choice-container .item.PhotoID {
    background-color: rgba(193, 46, 46, 0.21);
}

.last-register-step .content .form-container #delivery-form .choice-container .item.registration_number {
    background-color: rgba(35, 107, 190, 0.22);
}

.last-register-step .content .form-container #delivery-form .choice-container .item.paperID {
    background-color: rgba(232, 197, 42, 0.34);
}

.last-register-step .content .form-container #delivery-form .choice-container .box-checked:active .vehicoleType {
    background-color: #E8C52A;
}

.last-register-step .content .form-container #delivery-form .submit-btn {
    margin-top: 25px;
    padding: 15px 0;
    color: #E8C52A;
    border: 0;
    border-radius: 50px;
    background-color: #000;
    font-size: 18px;
}


/*
===========================================================================================
.9 About page style
===========================================================================================
*/

.aboutSlide {
    height: 100px;
    background-color: #E8C52A;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.aboutSlide .slide-title {
    width: 100%;
}

.aboutSlide a {
    text-decoration: none;
    text-align: center;
}

.aboutSlide h2 {
    color: #fff;
    font-size: 30px;
}

.about-page-section {
    min-height: 50vh;
    padding-bottom: 60px;
}

.about-page-section .about-text-content {
    margin-bottom: 50px;
}

.about-page-section p {
    line-height: 35px;
    font-weight: 500;
    opacity: 0.75;
    color: #000;
}

.about-page-section a {
    text-decoration: none;
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 500;
    color: #E8C52A;
    background-color: #000;
    transition: all 0.3s;
    border-radius: 50px;
}

.about-page-section a:hover {
    background-color: #E8C52A;
    color: #fff;
}

.about-page-section .about-img {
    overflow: hidden;
}

.about-page-section .about-img img {
    max-width: 100%;
    height: auto;
}


/*
============================================================================================
.12 Profile auth page
============================================================================================
*/

.page-section .tab-pane {
    min-height: 50vh;
    /* overflow-y: scroll; */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.page-section .profileAuth-left {
    padding-right: 20px;
    margin-bottom: 50px;
}

.page-section .profileAuth-left .profileAuth-left-content {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.photo-profile td {
    border-bottom: 0;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.photo-profile .photo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(232, 197, 42, 0.8);
    overflow: hidden;
    opacity: 1;
}


/* .page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.photo-profile .photo-container img{
    max-width: 100%;
    height: auto;
} */

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.photo-profile .table-btn {
    background-color: #E8C52A;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
}


/* .page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.photo-profile label:hover {
    background-color: #F2C810;
    color: #000;
} */

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery td {
    opacity: 0.8;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #E7EAEF;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.total td {
    color: #E8C52A;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.total-pay {
    font-size: 20px;
    font-weight: 18px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.total-pay td.price {
    color: red;
    opacity: 0.7;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery tr.update-btn td {
    border-bottom: 0;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery #update-user-submit {
    background-color: #E8C52A;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
    border: 0;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery .photo_profile_btn {
    background-color: #E8C52A;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
    border: 0;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-delivery .cancel-btn {
    background-color: #c33003;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
    border: 0;
    text-decoration: none;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-order {
    border-radius: 15px;
    border-style: hidden;
    position: relative;
    margin-bottom: 35px;
    padding: 15px;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-order td {
    opacity: 0.8;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 0;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-order tr.description td.btn {
    opacity: 1;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-order tr.description a.accept-btn {
    float: right;
    padding: 12px 0;
    border-radius: 50px;
    background-color: #000;
    color: #E8C52A;
    width: 120px;
    text-align: center;
    opacity: 1 !important;
    text-decoration: none;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-order tr.total td {
    color: #E8C52A;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-order tr.total-pay {
    font-size: 20px;
    font-weight: 18px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.page-section .profileAuth-left .profileAuth-left-content table.info-order tr.total-pay td.price {
    color: red;
    opacity: 0.7;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-order tr.update-btn td {
    border-bottom: 0;
}

.page-section .profileAuth-left .profileAuth-left-content table.info-order::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #E7EAEF;
    background-color: #E7EAEF;
    border-radius: 15px;
    z-index: -1;
}

.page-section .profileAuth-left .profileAuth-left-content h3 {
    margin-bottom: 25px;
    font-weight: 500;
}

.page-section .profileAuth-left .profileAuth-left-content h4 {
    margin-bottom: 15px;
}

.page-section .profileAuth-left .profileAuth-left-content .order-input-card {
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}

.page-section .profileAuth-left .profileAuth-left-content .order-input-card input {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    width: 80%;
}

.page-section .profileAuth-left .profileAuth-left-content button.submit-butn {
    background-color: #000;
    height: 50px;
    border-radius: 50px;
    color: #E8C52A;
    border: 0;
    transition: all 0.3s;
    padding-right: 15px;
    padding-left: 15px;
}

.page-section .profileAuth-left .profileAuth-left-content button.submit-butn:hover {
    background-color: #E8C52A;
    color: #fff;
}

.page-section .profileAuth-right {
    padding-left: 20px;
    margin-bottom: 50px;
}

.page-section .profileAuth-right .profileAuth-right-content {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.page-section .profileAuth-right .profileAuth-right-content a.nav-item {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    border: 0;
    border-bottom: 2px solid #E7EAEF;
}

.page-section .profileAuth-right .profileAuth-right-content a.nav-item.active {
    background: #E8C52A;
}

.page-section .offerDetail-container {
    padding-right: 20px;
    margin-bottom: 50px;
}

.page-section .offerDetail-container .offerDetail-content {
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.page-section .offerDetail-container .offerDetail-content table.info-delivery tr.photo-profile td {
    border-bottom: 0;
}

.page-section .offerDetail-container .offerDetail-content table.info-delivery tr.photo-profile .photo-container {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    border: 5px solid rgba(232, 197, 42, 0.8);
}

.page-section .offerDetail-container .offerDetail-content table.info-delivery td {
    opacity: 0.9;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid #E7EAEF;
}

.page-section .offerDetail-container .offerDetail-content table.info-delivery tr.total td {
    color: #E8C52A;
}

.page-section .offerDetail-container .offerDetail-content table.info-delivery tr.total-pay {
    font-size: 20px;
    font-weight: 18px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.page-section .offerDetail-container .offerDetail-content table.info-delivery tr.total-pay td.price {
    color: red;
    opacity: 0.7;
}

.page-section .offerDetail-container .offerDetail-content table.info-delivery tr.update-btn td {
    border-bottom: 0;
}

.page-section .offerDetail-container .offerDetail-content table.info-order {
    border-radius: 15px;
    border-style: hidden;
    position: relative;
    margin-bottom: 35px;
    padding: 15px;
}

.page-section .offerDetail-container .offerDetail-content table.info-order td {
    opacity: 0.8;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 0;
}

.page-section .offerDetail-container .offerDetail-content table.info-order tr.description td.btn {
    opacity: 1;
}

.page-section .offerDetail-container .offerDetail-content table.info-order tr.description a.accept-btn {
    float: right;
    padding: 12px 0;
    border-radius: 50px;
    background-color: #000;
    color: #E8C52A;
    width: 120px;
    text-align: center;
    opacity: 1 !important;
    text-decoration: none;
}

.page-section .offerDetail-container .offerDetail-content table.info-order tr.total td {
    color: #E8C52A;
}

.page-section .offerDetail-container .offerDetail-content table.info-order tr.total-pay {
    font-size: 20px;
    font-weight: 18px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.page-section .offerDetail-container .offerDetail-content table.info-order tr.total-pay td.price {
    color: red;
    opacity: 0.7;
}

.page-section .offerDetail-container .offerDetail-content table.info-order tr.update-btn td {
    border-bottom: 0;
}

.page-section .offerDetail-container .offerDetail-content table.info-order::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #E7EAEF;
    background-color: #E7EAEF;
    border-radius: 15px;
    z-index: -1;
}

.page-section .offerDetail-container .offerDetail-content .order-input-card {
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}

.page-section .offerDetail-container .offerDetail-content .order-input-card input {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    width: 80%;
}

.page-section .offerDetail-container .offerDetail-content button.submit-butn {
    background-color: #000;
    height: 50px;
    border-radius: 50px;
    color: #E8C52A;
    border: 0;
    transition: all 0.3s;
    padding-right: 15px;
    padding-left: 15px;
}

.page-section .offerDetail-container .offerDetail-content button.submit-butn:hover {
    background-color: #E8C52A;
    color: #fff;
}