* {
    font-family: "Poppins", sans-serif !important;
}

.header-fixed .app-header {
    border-bottom: 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.16);
}

.app-header .navbar-brand {
    height: 100%;
}

.app-header .navbar-brand img {
    max-width: 100%;
    height: auto;
}

.sidebar {
    background-color: #f5f6fa;
}

.sidebar-fixed .sidebar {
    width: 230px;
}

.sidebar .sidebar-nav {
    width: 230px;
    padding-top: 20px;
    /* overflow: hidden; */
}

.sidebar .sidebar-nav::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.sidebar .sidebar-nav::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
    /* color of the tracking area */
}

.sidebar .sidebar-nav::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid transparent;
    /* creates padding around scroll thumb */
}


/* Works on Firefox */

.sidebar .sidebar-nav {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.sidebar .nav {
    margin-left: auto;
    margin-right: auto;
}

.sidebar .nav-link {
    color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.2s;
}

.sidebar .nav-link:hover {
    background-color: #E8C52A;
    transform: scale(1.01);
}


/* .app .app-body {} */

body.app-body-restaurant {
    /* height: 100%; */
    background: #eaedf7;
    position: relative;
    /* overflow: hidden; */
}

body.app-body-restaurant::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-resto-1.jpg');
    opacity: 0.12;
    z-index: -1;
}

main.restaurant-main {
    margin-left: 0px !important;
}

.app .app-body main.main {
    padding: 0 50px;
}

.breadcrumb {
    background: transparent;
    border: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.breadcrumb .breadcrumb-item a {
    color: #000;
}

.breadcrumb li.breadcrumb-item.active {
    color: #E8C52A !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: .5rem;
    color: #E8C52A;
    content: "/";
}

.animated.fadeIn .card {
    min-width: 0;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.05);
    -webkit-box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.05);
}

.animated.fadeIn .card .card-header {
    background-color: transparent;
    border-radius: 15px 15px 0 0;
    font-size: 30px;
    font-weight: 500;
}

.animated.fadeIn .card .card-header strong {
    font-size: 20px;
}

.animated.fadeIn .card .card-header a.btn.goback {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #E8C52A;
    color: #fff;
    transition: all 0.2s;
}

.animated.fadeIn .card .card-header a.btn.goback:hover {
    background-color: #fcda42;
}

.animated.fadeIn .card-body .bg-img {
    height: 350px;
    overflow: hidden;
    border-radius: 15px;
}

.animated.fadeIn .card-body .bg-img img {
    max-width: 100%;
    height: auto;
}

.animated.fadeIn .card-body .bg-img h1 {
    font-family: 'poppin', sans-serif;
    font-weight: 600;
    font-size: 55px;
    width: 100%;
    text-align: center;
}

.animated.fadeIn .card-body .info-container {
    overflow: hidden;
}

.animated.fadeIn .card-body .info-container .info-content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 8px;
    /* rgba(240, 240, 242, 0.3) */
    /* background-color: #f6f6fb; */
    font-family: 'poppin', sans-serif;
    /* padding: 15px; */
}

.animated.fadeIn .card-body .info-container .info-content .title h2 {
    color: #000;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'poppin', sans-serif;
    border-bottom: 2px solid #f6f6fb;
    padding-bottom: 10px;
}

.animated.fadeIn .card-body .info-container .info-content .info-card .form-group {
    padding: 8px 10px;
    padding-left: 20px;
    border-radius: 8px;
}

.animated.fadeIn .card-body .info-container .info-content .info-card .form-group:hover {
    background-color: #eaedf7;
    box-shadow: 0 0px 15px 0 rgba(24, 28, 33, 0.05);
    -webkit-box-shadow: 0 0px 15px 0 rgba(24, 28, 33, 0.05);
}

.animated.fadeIn .card-body .info-container .info-content .info-card .form-group p {
    margin-bottom: 0;
}

.animated.fadeIn .card-body .info-container .info-content .info-card .form-group label {
    margin-bottom: 2px;
}

.animated.fadeIn .card-body .info-container .info-content .lat-card .form-group {
    border-radius: 8px;
    background-image: linear-gradient(to left, #0db2de 0%, #005bea 100%) !important;
    padding: 10px;
    color: #fff;
    height: 80px;
}

.animated.fadeIn .card-body .info-container .info-content .lng-card .form-group {
    border-radius: 8px;
    background-image: linear-gradient(to left, #48d6a8 0%, #029666 100%) !important;
    padding: 10px;
    color: #fff;
    height: 80px;
}

.card-right-btn {
    background-image: linear-gradient(to left, #E8C52A 0%, #f5d340 100%) !important;
    border-radius: 50px;
    transition: all 0.3s;
}

.card-right-btn:hover {
    background-image: linear-gradient(to right, #E8C52A 0%, #f5d340 100%) !important;
    color: #fff;
}

.app-footer {
    margin-left: 0px !important;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table.table-striped .thead {
    background-color: #000 !important;
    color: #fff !important;
}

.table thead th {
    font-size: 12px;
}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: sans-serif;
}


/* ------------------------------------ */

a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}


/* ------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/* ------------------------------------ */

input {
    display: block;
    outline: none;
    /* border: !important; */
}

textarea {
    display: block;
    outline: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}


/* ------------------------------------ */

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 50px;
    background: #E8C52A;
}

table tbody tr {
    height: 50px;
    background-color: transparent !important;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
    /* color: #fff !important; */
}

table th {
    border-top: 0 !important;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5 !important;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5 !important;
    cursor: pointer;
}

.column1 {
    width: 260px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 245px;
}

.column4 {
    width: 110px;
    text-align: right;
}

.column5 {
    width: 170px;
    text-align: right;
}

.column6 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}

@media screen and (max-width: 992px) {
    table {
        display: block;
    }
    table>*,
    table tr,
    table td,
    table th {
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        height: auto;
        padding: 37px 0;
    }
    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }
    table tbody tr td:last-child {
        margin-bottom: 0;
    }
    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }
    table tbody tr td:nth-child(1):before {
        content: "Date";
    }
    table tbody tr td:nth-child(2):before {
        content: "Order ID";
    }
    table tbody tr td:nth-child(3):before {
        content: "Name";
    }
    table tbody tr td:nth-child(4):before {
        content: "Price";
    }
    table tbody tr td:nth-child(5):before {
        content: "Quantity";
    }
    table tbody tr td:nth-child(6):before {
        content: "Total";
    }
    .column4,
    .column5,
    .column6 {
        text-align: left;
    }
    .column4,
    .column5,
    .column6,
    .column1,
    .column2,
    .column3 {
        width: 100%;
    }
    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}