* {
    font-family: "Poppins", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
}

.section-title {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.section-title h3 {
    color: #000;
    font-weight: bold;
    font-size: 35px;
}

.section-title a {
    text-decoration: none;
    color: #e8c52a;
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    transition: all 0.3s;
    position: relative;
}

.section-title a:hover {
    color: #b29513;
    border-bottom-color: #b29513;
}


/*
Order pop up style
*/

.btn.homePageModalBtn {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 86px;
    right: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(4, 62, 87, 0.64);
    box-shadow: 0px 0px 10px 0px rgba(4, 62, 87, 0.64);
    z-index: 111111;
}

.btn.homePageModalBtn .btn-icon {
    fill: #e8c52a;
    height: 30px;
    width: 30px;
}

.hompageModal .modal-dialog .modal-content .modal-footer .progress-step-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.hompageModal .modal-dialog .modal-content .modal-footer .progress {
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    z-index: 1111;
}

.hompageModal .modal-dialog .modal-content .modal-footer .checked {
    width: 60px;
    height: 60px;
    background-color: #87ceeb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    z-index: 1111;
}

.hompageModal .modal-dialog .modal-content .modal-footer .checked .progress-icon {
    fill: #e8c52a;
    width: 30px;
    height: 30px;
    transform: scaleX(-1);
}

.hompageModal .modal-dialog .modal-content .modal-footer .checked .progress-bar-container {
    position: absolute;
    top: 28px;
    left: 60px;
    width: 120px;
    background-color: #000;
    height: 0.32rem;
}

.hompageModal .modal-dialog .modal-content .modal-footer .checked .progress-bar-container .progress-infinite {
    background: rgba(0, 0, 0, 0.25);
}

.hompageModal .modal-dialog .modal-content .modal-footer .checked .progress-bar-container .progress-infinite .progress-bar3 {
    height: 0.32rem;
    background: #e8c52a;
    transition: 0.4s linear;
    width: 100%;
    transition-property: width, background-image;
    background-image: linear-gradient( to right, #fff, #e8c52a, #fff, #e8c52a, #fff, #e8c52a);
    animation: colorAnimation 1s infinite;
}

.hompageModal .modal-dialog .modal-content .modal-footer .progress .progress-icon {
    fill: #e8c52a;
    width: 30px;
    height: 30px;
    transform: scaleX(-1);
}

.hompageModal .modal-dialog .modal-content .modal-footer .progress .progress-bar-container {
    position: absolute;
    top: 28px;
    left: 60px;
    width: 120px;
    background-color: #000;
    height: 0.32rem;
}

.hompageModal .modal-dialog .modal-content .modal-footer .progress .progress-bar-container .progress-infinite {
    background: rgba(0, 0, 0, 0.25);
}

.hompageModal .modal-dialog .modal-content .modal-footer .progress .progress-bar-container .progress-infinite .progress-bar3 {
    height: 0.32rem;
    background: #e8c52a;
    transition: 0.4s linear;
    width: 100%;
    transition-property: width, background-image;
    background-image: linear-gradient( to right, #fff, #e8c52a, #fff, #e8c52a, #fff, #e8c52a);
    animation: colorAnimation 1s infinite;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form {
    width: 90%;
    margin-top: 20px;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
    width: 100%;
    /* On mouse-over, add a grey background color */
    /* Create the indicator (the dot/circle - hidden when not checked) */
    /* Show the indicator (dot/circle) when checked */
    /* Style the indicator (dot/circle) */
    /* On mouse-over, add a grey background color */
    /* Create the indicator (the dot/circle - hidden when not checked) */
    /* Show the indicator (dot/circle) when checked */
    /* Style the indicator (dot/circle) */
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group label {
    padding: 0;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group .checkmark {
    position: absolute;
    top: 15px;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #e8c52a;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group input:checked~.checkmark:after {
    display: block;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group .checkmark:after {
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e8c52a;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group .checkmark-box {
    position: absolute;
    top: 0px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #e8c52a;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group .checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group input:checked~.checkmark-box:after {
    display: block;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group .checkmark-box:after {
    top: 2px;
    left: 2px;
    width: 19px;
    height: 19px;
    background: #e8c52a;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group input[type="radio"] {
    margin-top: 0;
    position: absolute;
    top: 15px;
    left: 0;
    height: 25px;
    width: 25px;
    z-index: 1111;
    opacity: 0;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group input[type="checkbox"] {
    margin-top: 0;
    position: absolute;
    top: 0px;
    left: 0;
    height: 25px;
    width: 25px;
    z-index: 1111;
    opacity: 0;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    opacity: 0.8;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group label span {
    color: #e8c52a;
    opacity: 1;
}

.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group input[type="text"],
.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group select,
.hompageModal .modal-dialog .modal-content .modal-body #noteOrder-form .form-group textarea {
    border: 2px solid #e7eaef;
    border-radius: 5px;
    width: 100%;
    padding: 13px 6px;
    margin-top: 10px;
    margin-top: 0;
    font-weight: 500;
    font-size: 18px;
}

@keyframes colorAnimation {
    0% {
        background-image: linear-gradient( to right, #fff, #e8c52a, #fff, #e8c52a, #fff);
    }
    20% {
        background-image: linear-gradient( to right, #e8c52a, #fff, #e8c52a, #fff, #e8c52a, #fff);
    }
    40% {
        background-image: linear-gradient( to right, #e8c52a, #fff, #e8c52a, #fff, #e8c52a);
    }
    60% {
        background-image: linear-gradient( to right, #fff, #e8c52a, #fff, #e8c52a, #fff, #e8c52a);
    }
    100% {
        background-image: linear-gradient( to right, #e8c52a, #fff, #e8c52a, #fff, #e8c52a);
    }
}

.blur-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.blur-bg.disabled {
    display: none;
}

.select-quantity {
    padding: 30px 15px;
    padding-top: 5px;
    width: 600px;
    height: 550px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    -webkit-box-shadow: 0px 0px 18px -3px rgba(4, 62, 87, 0.64);
    box-shadow: 0px 0px 18px -3px rgba(4, 62, 87, 0.64);
    background-color: #fff;
    position: sticky;
    top: 60px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 7px;
    z-index: 999;
}

.select-quantity .cancel-btn {
    height: 50px;
    text-align: right;
    font-size: 20px;
    color: #000;
    padding-right: 15px;
    position: absolute;
    top: -290px;
    right: 15px;
}

.select-quantity .cancel-btn i {
    cursor: pointer;
}

.select-quantity h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #e8c52a;
    margin-top: 20px;
}

.select-quantity .more-or-less-btn {
    display: flex;
    height: 50px;
}

.select-quantity .more-or-less-btn .show-quantity {
    padding: 0 20px;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.select-quantity .more-or-less-btn button {
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50%;
}

.select-quantity svg {
    width: 25px;
    height: 25px;
}

.select-quantity .form-card {
    margin-bottom: 0px;
    padding-left: 30px;
}

.select-quantity .form-card input,
.select-quantity .form-card .butn {
    float: right;
    padding: 15px 20px;
    color: #000;
    border-radius: 30px;
    border: 2px solid #e7eaef;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    cursor: pointer;
    outline: none !important;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
}

.select-quantity .form-card .butn {
    border-radius: 5px;
    margin-left: 15px;
    background-color: #e8c52a;
    color: #fff;
    font-size: 15px;
    border: 0;
}

.select-quantity .form-card .butn.cancel {
    font-weight: 500;
    border: 0;
}

.select-quantity.disabled {
    display: none;
}


/*
============================================================================================
.1 header
============================================================================================
*/

header {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #242020;
}

header::before {
    content: "";
    position: absolute;
    background-color: transparent;
    background-image: url("../img/banner2.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    bottom: -70px;
    right: -165px;
    z-index: 1;
}

header .card-top {
    z-index: 111;
    height: 100px;
}

header .card-top .row.card-top-content {
    align-items: center;
    align-content: center;
    height: 100%;
}

header .card-top .logo {
    position: relative;
}

header .card-top .logo img {
    max-height: 200px;
    width: auto;
    /* margin-top: -30px; */
     
}

header .card-top menu {
    margin-top: 10px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

header .card-top menu #check {
    display: none;
}

header .card-top menu label #btn,
header .card-top menu label #cancel {
    position: fixed;
    cursor: pointer;
    padding: 6px 9px;
    color: #e8c52a;
    display: none;
}

header .card-top menu label #btn {
    transition: all 0.2s;
    right: 0px;
    bottom: 20px;
    font-size: 30px;
}

header .card-top menu label #btn:hover {
    color: #e8c52a;
}

header .card-top menu label #cancel {
    transition: all 0.5s;
    font-size: 30px;
    right: 0px;
    bottom: 20px;
    z-index: 11111111;
    opacity: 0;
}

header .card-top menu label #cancel:hover {
    color: #e8c52a;
}

header .card-top menu ul.menu-ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

header .card-top menu ul.menu-ul li.menu {
    position: relative;
    height: 60px;
}

header .card-top menu ul.menu-ul li.menu:hover .submenu {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    top: 60px;
    z-index: 1000;
}

header .card-top menu ul.menu-ul li.menu a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    padding: 8px 13px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

header .card-top menu ul.menu-ul li.menu a:hover {
    color: #e8c52a;
}

header .card-top menu ul.menu-ul li.menu a:hover i {
    color: #e8c52a;
}

header .card-top menu ul.menu-ul li.menu i {
    font-size: 10px;
}

header .card-top menu ul.menu-ul li.profile {
    display: flex;
}

header .card-top menu ul.menu-ul li.profile a.shopping-cart {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    margin-right: 10px;
}

header .card-top menu ul.menu-ul li.profile a.shopping-cart svg {
    fill: #e8c52a;
}

header .card-top menu ul.menu-ul li.profile a.shopping-cart .number {
    position: absolute;
    top: 0;
    right: 0;
    color: #e8c52a;
}

header .card-top menu ul.menu-ul li.profile .location-box {
    display: flex;
}

header .card-top menu ul.menu-ul li.profile .location-box .location-pin svg {
    fill: #e8c52a;
}

header .card-top menu ul.menu-ul li.profile .location-box h2 {
    font-size: 18px;
    color: #fff;
    margin-left: 5px;
    font-weight: 400;
}

header .card-top menu ul.menu-ul li.profile .location-box h2 nav {
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}

header .card-top menu ul.menu-ul li.profile .profile-ph {
    margin-left: 10px;
}

header .card-top menu ul.menu-ul .submenu {
    visibility: hidden;
    position: absolute;
    top: 90px;
    opacity: 0;
    left: 0px;
    padding: 0;
    border-radius: 7px;
    list-style: none;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

header .card-top menu ul.menu-ul .submenu::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: #e8c52a;
    border-radius: 0 0 15px 15px;
}

header .card-top menu ul.menu-ul .submenu li a {
    padding: 15px 30px;
    font-size: 13px;
    width: 160px;
    transition: transform 0.2s ease-in-out;
    color: #000;
}

header .card-top menu ul.menu-ul .submenu li a:hover {
    padding-top: 15px;
    border-bottom: none;
    transform: scale(1.1);
}

header .card-top menu ul.menu-ul li a.btn {
    padding: 10px 15px;
    background-color: #e8c52a;
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    /* margin-left: 35px;
    margin-right: 20px; */
}

header .card-top menu ul.menu-ul li a.btn:hover {
    background-color: #b29513;
}

header .card-top menu ul.menu-ul li .lang-btn {
    padding-top: 10px;
}

header .card-top menu ul.menu-ul li .lang-btn img {
    border-radius: 50%;
    margin-top: 6px;
}

header .card-top menu ul.menu-ul::after {
    content: "";
    display: table;
    clear: both;
}

header .card-bottom {
    z-index: 2;
}

header .card-bottom .caption {
    text-align: left;
}

header .card-bottom .caption h1 {
    color: #fff;
    font-size: 30px;
    margin-top: 22%;
    font-weight: 700;
    line-height: 50px;
}

header .card-bottom .caption p {
    margin-top: 25px;
    font-size: 20px;
    width: 100%;
    color: #fff;
    margin-bottom: 45px;
    font-weight: 500;
    text-align: left;
}

header .card-bottom .caption a {
    text-decoration: none;
    color: #fff;
    background-color: #2dc068;
    font-size: 15px;
    border: 2px solid #e8c52a;
    border-radius: 60px;
    padding: 15px 20px;
    margin-top: 25px;
    transition: background-color 0.3s;
}

header .card-bottom .caption a:hover {
    background-color: #e0bb18;
}

header .card-bottom .img-card img {
    max-height: 100%;
    width: auto;
}

header .card-bottom #lis-input {
    position: relative;
}

header .card-bottom #lis-input .writting {
    padding: 15px;
    border-radius: 50px;
    border: none;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
}

header .card-bottom #lis-input .addBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 57px;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
    border: 0;
    background: #e8c52a;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
============================================================================================
.2 section How it works
============================================================================================
*/

.howItWorks-section {
    min-height: 50vh;
    padding-top: 80px;
    padding-bottom: 80px;
}

.howItWorks-section img {
    max-width: 100px;
    height: auto;
}

.howItWorks-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}

.howItWorks-img p {
    margin-top: 15px;
    font-size: 25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.howItWorks-img .howItWorks-img-content {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8c52a;
}


/*
============================================================================================
.3 section Popular
============================================================================================
*/

.mobileCall {
    min-height: 50vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e8c52a;
}

/* .mobileCall svg {
    width: 450px;
} */

.mobileCall .text-container h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
}



/* .mobileCall a img{
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
} */





/*
============================================================================================
.3 section Popular
============================================================================================
*/

.Popular {
    min-height: 100vh;
}

.Popular-img {
    display: flex;
    justify-content: center;
    height: 220px;
    overflow: hidden;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
    padding: 0 25px;
}

.Popular-img a {
    width: 100%;
    height: 100%;
}

.Popular .Popular-img .block-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.Popular .Popular-img .block-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #000);
    border-radius: 15px;
}

.Popular .Popular-img .block-img {
    background-color: #000;
    overflow: hidden;
}

.restaurant-name {
    position: absolute;
    top: 15px;
    left: 55px;
    color: #fff;
    font-size: 18px;
    background-color: #000;
    padding: 5px 10px;
    border-radius: 10px;
}

.item-title {
    position: absolute;
    bottom: 15px;
    left: 55px;
    color: #e8c52a;
    font-size: 30px;
    font-weight: bold;
}


/*
============================================================================================
.4 Suggestions section
============================================================================================
*/

.suggestions-section {
    background-color: #faf7f7;
    overflow: hidden;
    min-height: 100vh;
    padding-bottom: 100px;
    padding-top: 80px;
}

.item {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 25px;
    padding: 0 25px;
    background-color: transparent;
}

.card-body {
    padding: 0;
    padding-top: 15px;
    background-color: transparent;
}

.card .img-card {
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

.item img {
    max-width: 100%;
    height: auto;
}

.card-body h5 {
    color: #e8c52a;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-body a {
    text-decoration: none;
}

.card-body a p {
    opacity: 0.6;
    color: #000;
}


/*
============================================================================================
.5 about section
============================================================================================
*/

.about-section {
    overflow: hidden;
    min-height: 90vh;
    padding-top: 100px;
    padding-bottom: 50px;
}

.about-section .item {
    margin-bottom: 50px;
    border-radius: 0px;
}

.about-section .item {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 25px;
    height: 480px;
}

.about-section .item .card-container {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: relative;
}

.about-section .item .card-container .card-body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
    padding: 30px 15px;
}

.about-section .item .card-container .card-body .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.about-section .item .card-container .card-body h5 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-section .item .card-container .card-body p {
    color: #fff;
    opacity: 1;
    margin-bottom: 20px;
    height: 170px;
    font-size: 15px;
}

.about-section .item .card-container .card-body a.action-btn {
    text-decoration: none;
    color: #e8c52a;
    font-size: 14px;
    background-color: #000;
    border-radius: 50px;
    padding: 15px 30px;
    margin-top: 20px;
    box-shadow: 0px 0px 25px -2px rgba(232, 197, 42, 0.48);
    transition: all 0.3s;
}

.about-section .item .card-container .card-body a.action-btn:hover {
    background-color: #e8c52a;
    color: #fff;
}


/*
============================================================================================
.6 Footer
============================================================================================
*/

footer.col-12 {
    background-color: rgba(0, 0, 0, 0.64);
    padding: 60px 0;
    padding-bottom: 0;
    position: relative;
    min-height: 60vh;
}

footer.col-12 .bottom-card {
    padding-top: 25px;
}

footer.col-12 .description {
    margin-bottom: 20px;
    padding-left: 60px;
}

footer.col-12 .description h1 {
    color: #e8c52a;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
}

footer.col-12 .description ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer.col-12 .description ul li {
    line-height: 35px;
}

footer.col-12 .description ul li a {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    font-size: 14px;
}

footer.col-12 .description p {
    opacity: 0.7;
    font-size: 14px;
    color: #fff;
    text-align: left;
    width: 100%;
}

footer.col-12 .description img {
    max-width: 200px;
    height: auto;
}

footer.col-12 .input-text {
    position: relative;
}

footer.col-12 .signature-container {
    margin-top: 20px;
}

footer.col-12 .signature-container .signature-content {
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

footer.col-12 .signature-container .signature-content .signature {
    color: #fff;
    opacity: 0.3;
}

footer.col-12 .signature-container .signature-content .signature a {
    text-decoration: none;
    color: #fff;
}

footer.col-12 .signature-container .signature-content select {
    float: right;
    padding: 15px 20px;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}


/*
============================================================================================
.7 partie livreur
============================================================================================
*/

.flag:hover{
    background-color:#e8c52a ;
}

.inputfield--ind__location{
    background-color:white;
    display:flex; 
    align-items:center;
    padding:10px 15px;
    border-radius:50px 0 0 50px;
    width:85%;
 }
 
 .inputfield--ind form{
     display:flex; 
     align-items:center;
 }
 
 .inputfield--ind__location img{
    height:30px ;
 }
 
 .inputfield--ind__location input{
     padding:10px;
     width:100%;
     margin-left:10px;
     outline:none;
     border:none;
 }
 
 .inputfield--ind__position{
     padding:10px;
     padding:17px 0;
     border:none;
     width:15%;
     border-radius:0 50px 50px 0;
     background-color:#e8c52a;
     outline:none !important;
 }
 
 .inputfield--ind__position img{
     height:30px;
 }

/**********************************************************************************/

.delivery-explain{
    padding: 40px 0;
    /* background-image:url(/img/restaurant-pattern.jpg); */
    background:#e8c52a15;
    /* background-repeat: repeat; */
    /* background-size: cover; */
    background-position: center;
    /* linear-gradient(#469aca0a, #469aca0a), url(../images/restaurant-pattern.jpg); */
}

/* .delivery-art .card-bglivr {
    background-color: #e8c52a50;
    padding: 2rem;
  } */

  .delivery-art section{
    padding: 80px 0;
    position: relative;
  }

  
  
  .delivery-art .card-bglivr form {
    background-color: white;
    padding: 2rem;
    border-radius: .8rem;
  }
  
  .delivery-art .card-bglivr form input {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin: 1rem 0;
    transition: all .3s ease-in-out;
  }
  
  .delivery-art .card-bglivr form input:focus {
    border-bottom: 2px solid black;
    outline: none;
  }
  
  .delivery-art .card-bglivr form select {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    transition: all .3s ease-in-out;
  }
  
  .delivery-art .card-bglivr form select:focus {
    border-bottom: 2px solid black;
    outline: none;
  }

  .delivery-art .step-delivery {
    border: 1px dotted #e8c52a;
    padding: 20px;
    transition: all .5s ease-in-out;
    margin: 10px 0;
}

.delivery-art .step-delivery:hover {
    border: 1px solid white;
    background-color: #e8c52a;
}

.delivery-art .step-delivery:hover p {
  color: white;
  transition: all .5s ease-in-out;
}

.delivery-art .step-delivery:hover h3{
    color: white;
    transition: all .5s ease-in-out;
}

.delivery-art .step-delivery:hover ul li{
    color: white;
    transition: all .5s ease-in-out;
}

.delivery-art .step-delivery ul li{
    font-size: 14px;
}

  
.delivery-art .step-delivery img{
        height: 40px;
        margin-bottom: 10px;
  }
  
  .delivery-art .step-delivery h3 {
    color: #e8c52a;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .delivery-art .step-delivery p {
    font-size: 15px;
  }

  .delivery-art h2 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    color: #e8c52a;
  }


  .store{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
  }

  .store a{
    width: 48%;
    height: 60px;
}

.store img{
    width: 100%;
    height: 100%;
}

.img-deliverer img{
    height: 60px;
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    animation: linear infinite;
    animation-name: drive;
    animation-duration: 13s ;
    animation-fill-mode: both;
    animation-delay: 2s ;
    
}



.tab-content input{
    padding: 20px;
    transition: all .3s ease-in-out;
}



.tab-content input:focus{
    background-color: #e8c52a35;
    outline: none;
}

.tab-content textarea{
    padding: 20px;
    transition: all .3s ease-in-out;
}



.tab-content textarea:focus{
    background-color: #e8c52a35;
    outline: none;
}



.login-logup-page{
    padding: 30px 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cpath d='M88.47150338705347 335.3110350684234L216.6658032812297 381.96994443249844 263.32471264530477 253.7756445383222 135.13041275112852 207.11673517424717z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M571.239%2c332.759C615.602%2c333.575%2c664.363%2c325.111%2c686.579%2c286.702C708.816%2c248.258%2c691.479%2c201.972%2c669.066%2c163.63C646.924%2c125.752%2c615.071%2c91.339%2c571.239%2c89.388C524.383%2c87.302%2c479.987%2c113.273%2c457.067%2c154.193C434.626%2c194.257%2c438.284%2c243.901%2c463.021%2c282.59C485.977%2c318.493%2c528.631%2c331.975%2c571.239%2c332.759' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M242.80651821940262 164.30129046958115L90.30398609470214 89.74084034045029 98.0701887848146 237.9288154150883z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1444.225445374399 211.27717596368126L1501.3696450110108 116.1732569731264 1330.1416667068727 78.00891701348624z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M994.9525028386508 327.254968104133L906.3303020127161 399.01981131957643 978.0951452281595 487.6420121455112 1066.7173460540942 415.8771689300678z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1247.222%2c416.146C1265.319%2c416.525%2c1286.002%2c416.95%2c1295.792%2c401.725C1306.102%2c385.69%2c1301.196%2c364.49%2c1290.644%2c348.613C1281.193%2c334.392%2c1264.296%2c328.845%2c1247.222%2c328.646C1229.711%2c328.442%2c1211.398%2c332.797%2c1202.009%2c347.579C1192.014%2c363.315%2c1191.793%2c384.197%2c1202.055%2c399.76C1211.505%2c414.091%2c1230.06%2c415.786%2c1247.222%2c416.146' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1065.0184205567764 8.821155831683615L930.2541119570961 60.55232710951486 1116.7495918346076 143.58546443136385z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M767.4820570878301 67.47331845065474L773.4888498888783 184.21845700695155 860.1497041059808 130.06674519640188z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M380.5245166689807 643.5571536036264L477.29370696444715 608.3360487420347 376.07745452432636 480.79281572963095z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.restau--bg{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cpath d='M88.47150338705347 335.3110350684234L216.6658032812297 381.96994443249844 263.32471264530477 253.7756445383222 135.13041275112852 207.11673517424717z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M571.239%2c332.759C615.602%2c333.575%2c664.363%2c325.111%2c686.579%2c286.702C708.816%2c248.258%2c691.479%2c201.972%2c669.066%2c163.63C646.924%2c125.752%2c615.071%2c91.339%2c571.239%2c89.388C524.383%2c87.302%2c479.987%2c113.273%2c457.067%2c154.193C434.626%2c194.257%2c438.284%2c243.901%2c463.021%2c282.59C485.977%2c318.493%2c528.631%2c331.975%2c571.239%2c332.759' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M242.80651821940262 164.30129046958115L90.30398609470214 89.74084034045029 98.0701887848146 237.9288154150883z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1444.225445374399 211.27717596368126L1501.3696450110108 116.1732569731264 1330.1416667068727 78.00891701348624z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M994.9525028386508 327.254968104133L906.3303020127161 399.01981131957643 978.0951452281595 487.6420121455112 1066.7173460540942 415.8771689300678z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1247.222%2c416.146C1265.319%2c416.525%2c1286.002%2c416.95%2c1295.792%2c401.725C1306.102%2c385.69%2c1301.196%2c364.49%2c1290.644%2c348.613C1281.193%2c334.392%2c1264.296%2c328.845%2c1247.222%2c328.646C1229.711%2c328.442%2c1211.398%2c332.797%2c1202.009%2c347.579C1192.014%2c363.315%2c1191.793%2c384.197%2c1202.055%2c399.76C1211.505%2c414.091%2c1230.06%2c415.786%2c1247.222%2c416.146' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1065.0184205567764 8.821155831683615L930.2541119570961 60.55232710951486 1116.7495918346076 143.58546443136385z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M767.4820570878301 67.47331845065474L773.4888498888783 184.21845700695155 860.1497041059808 130.06674519640188z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M380.5245166689807 643.5571536036264L477.29370696444715 608.3360487420347 376.07745452432636 480.79281572963095z' fill='rgba(232%2c 197%2c 42%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.card--restau{
    width: 100%;
    /* box-shadow: 5px 5px 12px #ccc; */
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    padding: 2rem;
    margin: 20px;
    border-radius: 8px;
    background-color: white;
}

.restau--title{
    text-align: center;
    color: #e8c52a;
    font-size: 30px;
    margin: 20px 0;
}

.card--restau .card--restau__illustration img{
    height: 150px;
    width: 100%;
    object-fit: contain;
}

.card--restau .card--restau__description p{
    margin-top: 20px;
    font-weight: bold;
    color: black;
}


@keyframes drive{
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(1900px);
    }
}




/*# sourceMappingURL=styles.css.map */