@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FEC22D;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(254, 194, 45, 0.8);
}

body {
  font-size: 1.6rem !important;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

a, a:hover {
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
  color: rgba(15, 15, 15, 0.7);
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: none;
}

button:focus {
  outline: none !important;
}

input:focus {
  outline: none !important;
}

.header button {
  background-color: #0f0f0f;
  padding: 2rem;
  border-radius: 0 .5rem .5rem 0;
}

.header button i {
  color: #fff;
  font-size: 2rem;
}

.btn--site {
  padding: 1rem;
  font-weight: bold;
  background-color: #0f0f0f;
  color: #fff;
  border-radius: .5rem;
  border: 2px solid #0f0f0f;
  transition: all .3s ease-in-out;
}

.btn--site:hover {
  background-color: #FEC22D;
  border: 2px solid #fff;
}

.btn--site1 {
  padding: 1rem;
  font-weight: bold;
  background-color: #FEC22D;
  color: #fff;
  border-radius: .5rem;
  border: 2px solid #FEC22D;
  transition: all .3s ease-in-out;
}

.btn--site1:hover {
  background-color: #0f0f0f;
  border: 2px solid #0f0f0f;
}

.btn--site3 {
  padding: 1rem;
  font-weight: bold;
  background: color #f7f7f7;
  color: rgba(15, 15, 15, 0.5);
  border-radius: .5rem;
}

.button-return {
  position: fixed;
  bottom: 10rem;
  right: 2rem;
  background-color: #FEC22D;
  border-radius: .5rem;
  border: none;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  text-align: center;
  transition: all .3s;
  z-index: 2;
  box-shadow: 0px -1px 19px -4px rgba(56, 56, 56, 0.75);
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-return i {
  font-size: 3rem;
  color: #fff;
}

.button-return:hover {
  box-shadow: 8px 20px 60px -4px rgba(56, 56, 56, 0.75);
}

.btn-fb {
  background-color: #4267B2;
  padding: 1rem;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: .5rem;
}

.btn-fb i {
  font-size: 4rem;
  margin-right: 2rem;
}

.btn-google {
  background-color: #DB4537;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: .5rem;
}

.btn-google i {
  font-size: 4rem;
  margin-right: 2rem;
}

.inputs--form input {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  transition: all .3s ease-in-out;
  width: 100%;
  margin-bottom: 1rem;
}

.inputs--form input:focus {
  border: 1px solid #FEC22D;
}

.howItWorks .howItWorks--card {
  text-align: center;
  margin-bottom: 2rem;
}

.howItWorks .howItWorks--card .__illus {
  border: 4px solid #ccc;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howItWorks .howItWorks--card .__illus img {
  height: 12rem;
}

.howItWorks .howItWorks--card .__descrip h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.howItWorks .howItWorks--card .__descrip p {
  font-size: 1.8rem;
}

.become--card {
  margin-bottom: 2rem;
}

.become .__illus img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: .5rem .5rem 0 0;
}

.become .__descrip {
  padding: 2rem;
  text-align: center;
  border-radius: 0 0 .5rem .5rem;
}

.become .__descrip h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #fff;
}

.become .__descrip p {
  color: #fff;
  font-size: 1.6rem;
}

.become .btn--site {
  font-size: 1.8rem;
}

.become .__descrip1 {
  background-color: #FEC22D;
}

.become .__descrip2 {
  background-color: rgba(15, 15, 15, 0.9);
}

.become .__descrip3 {
  background-color: #ccc;
}

.become .__descrip3 h3, .become .__descrip3 p {
  color: #0f0f0f;
}

.card--owlv {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem 0;
  transition: all .3s ease-in-out;
}

.card--owlv img {
  height: 7rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.card--owlv:hover {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
}

.popus--card {
  margin-bottom: 2rem;
  margin-top: 4rem;
  transition: all .3s ease-in-out;
}

.popus--card:hover img {
  transform: scale(1.01);
}

.popus--card .__illus img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  transition: all .3s ease-in-out;
}

.popus--card .__descrip {
  padding: 2rem 0;
  border-radius: 0 0 .5rem .5rem;
}

.popus--card .__descrip h3 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #0f0f0f;
}

.popus--card .__descrip p {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.popus--card .__descrip p span {
  color: #64B03C;
}

.menu-fs--card {
  padding: 2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.menu-fs--card .__descrip {
  width: 65%;
}

.menu-fs--card .__descrip p {
  font-size: 1.3rem;
}

.menu-fs--card .__illus {
  width: 30%;
}

.menu-fs--card .__illus img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.menu-fs--cart1 {
  padding: 2rem 4rem;
  margin-top: 7rem;
  background-color: #fff;
  border-radius: .5rem;
  text-align: center;
  position: sticky;
  width: 100%;
  top: 2rem;
}

.menu-fs--cart1 i {
  font-size: 4rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.menu-fs--cart1 p {
  color: #ccc;
  font-weight: bold;
}

.menu-fs--cart {
  padding: 2rem;
  margin-top: 7rem;
  background-color: #fff;
  border-radius: .5rem;
  text-align: center;
  position: sticky;
  width: 100%;
  top: 2rem;
}

.menu-fs--cart .btn--site1 {
  width: 70%;
}

.menu-fs--cart .achats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-fs--cart .achats p {
  color: #0f0f0f;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 1.4rem;
}

.menu-fs--cart .achats .qty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
}

.menu-fs--cart .achats .qty button {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: 2px solid #FEC22D;
  color: #FEC22D;
  background-color: #fff;
}

.menu-fs--cart .achats .qty p {
  height: 3rem;
  width: 3rem;
  font-size: 1.6rem !important;
  text-align: center;
  font-weight: bold;
  padding: .3rem;
}

.menu-fs--cart .st, .menu-fs--cart .fl, .menu-fs--cart .fs {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-fs--cart .st h3, .menu-fs--cart .fl h3, .menu-fs--cart .fs h3 {
  font-weight: bold;
}

.menu-fs--cart .st p, .menu-fs--cart .fl p, .menu-fs--cart .fs p {
  margin-bottom: 0;
}

.menu-fs--cart .st p span, .menu-fs--cart .fl p span, .menu-fs--cart .fs p span {
  color: #fa4b4b;
}

.owl-carousel {
  width: 100%;
  display: block !important;
}

.owl-carousel .owl-nav {
  display: block !important;
  font-size: 2rem;
  color: #fff;
  transition: all .3s ease-in-out;
}

.owl-carousel .owl-prev {
  position: absolute;
  top: 45%;
  width: 4rem;
  height: 4rem;
  left: -2%;
  border-radius: 50%;
  border: 3px solid #fff !important;
  background-color: #ccc !important;
  outline: none;
  text-align: center;
  align-items: center;
}

.owl-carousel .owl-next {
  position: absolute;
  top: 45%;
  right: -2%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 3px solid #fff !important;
  background-color: #ccc !important;
  outline: none;
  text-align: center;
  align-items: center;
}

.owl-stage {
  padding: 2rem 0;
}

.header-variete__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

@media only screen and (max-width: 62em) {
  .header-variete__form {
    width: 60%;
  }
}

@media only screen and (max-width: 48em) {
  .header-variete__form {
    width: 80%;
  }
}

@media only screen and (max-width: 36em) {
  .header-variete__form {
    width: 90%;
  }
}

.header-variete__form .group--form {
  background: #fff;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: .5rem;
}

.header-variete__form .group--form i {
  color: #ccc;
  font-size: 2rem;
}

.header-variete__form .group--form input {
  padding: 1rem 0 1rem 2rem;
  width: 80%;
  border: none;
}

.header-variete__form .group--form input::placeholder {
  font-weight: 400;
  color: #ccc;
}

.qty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.qty button {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-weight: bold;
  border: 2px solid #FEC22D;
  color: #FEC22D;
  background-color: #fff;
}

.qty p {
  height: 3rem;
  width: 6rem;
  font-size: 2rem !important;
  text-align: center;
  font-weight: bold;
  padding: .3rem;
}

.btns-fsb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.btns-fsb .btn--site3 {
  width: 30%;
}

.btns-fsb .btn--site1 {
  width: 70%;
}

.inscription-connexion__container {
  background-color: #f0f0f0;
  min-height: 100vh;
  background-image: url("/public/images/Tracé-184.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat !important;
  /* Do not repeat the image */
  background-size: cover;
}

.inscription-connexion__container p a {
  color: #0f0f0f;
  transition: all .3s ease-in-out;
  font-size: 1.6rem;
}

.inscription-connexion__container p a:hover {
  color: #FEC22D;
}

.inscription-connexion__container .check label {
  font-size: 1.6rem;
}

.modal-card {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.modal-card p a {
  color: #FEC22D;
}

.modal-card .modal-main {
  min-height: 20vh;
  max-height: 95vh;
  border-radius: .5rem;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 2rem auto;
  padding: 2rem;
  background-color: white;
  overflow: auto;
}

@media only screen and (max-width: 48em) {
  .modal-card .modal-main {
    width: 90%;
  }
}

.modal-card .modal-main .close .far {
  color: #FEC22D;
  margin: -2rem  0;
  font-size: 3rem;
  transition: all .2s ease-in-out;
}

.modal-card .modal-main .close:hover {
  color: #FEC22D;
}

#modal-card h3 {
  font-size: 2rem;
  font-weight: bold;
}

#modal-card .fas {
  color: #ccc;
  font-size: 3rem;
}

#modal-card p span {
  color: #FEC22D;
}

#modal-card2 h3 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

#modal-card2 p {
  font-size: 1.5rem;
  text-align: center;
}

#modal-card2 h4 {
  font-size: 2rem;
  margin: 0rem 0 2rem;
  font-weight: bold;
}

.modal-block {
  visibility: visible;
  opacity: 1;
}

/*** custom checkboxes ***/
.check {
  /* to hide the checkbox itself */
  /* unchecked icon */
  /* space between checkbox and label */
  /* checked icon */
  /* allow space for check mark */
}

.check label {
  font-size: 18px;
}

.check input[type=checkbox] {
  display: none;
}

.check input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.check input[type=checkbox] + label:before {
  content: "\f096";
}

.check input[type=checkbox] + label:before {
  letter-spacing: 10px;
}

.check input[type=checkbox]:checked + label:before {
  content: "\f046";
}

.check input[type=checkbox]:checked + label:before {
  letter-spacing: 5px;
}

.nav-index {
  position: fixed;
  z-index: 111;
  width: 100%;
  padding: 1rem 0;
}

.nav-index ul li a {
  color: #fff !important;
  transition: all .3s ease-in-out;
}

.nav-index ul li a:hover {
  color: #0f0f0f !important;
}

.nav-index .menu--hover ul a {
  color: #0f0f0f !important;
}

@media only screen and (max-width: 36em) {
  nav .container-fluid {
    padding: 0 10px !important;
  }
}

nav .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  z-index: 111;
}

@media only screen and (max-width: 36em) {
  nav .navigation {
    padding: 15px 0 !important;
  }
}

nav .navigation .logo img {
  height: 7rem;
}

@media only screen and (max-width: 36em) {
  nav .navigation .logo img {
    height: 4rem;
  }
}

@media only screen and (max-width: 425px) {
  nav .navigation .logo img {
    height: 3rem;
  }
}

nav .navigation .menu {
  display: flex;
  align-items: center;
}

nav .navigation .menu--list ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

nav .navigation .menu--list ul li {
  margin: 0 1.5rem 0 0;
}

nav .navigation .menu--list ul li a {
  color: #0f0f0f;
  transition: all .3s ease-in-out;
}

nav .navigation .menu--list ul li a:hover {
  color: #FEC22D;
}

@media only screen and (max-width: 1150px) {
  nav .navigation .menu--list {
    display: none;
  }
}

nav .navigation .menu--others ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

nav .navigation .menu--others ul li {
  margin: 0 1rem;
}

@media only screen and (max-width: 36em) {
  nav .navigation .menu--others ul li {
    margin: 0 .5rem;
  }
}

nav .navigation .menu--others ul li a {
  color: #0f0f0f;
  transition: all .3s ease-in-out;
}

nav .navigation .menu--others ul li a:hover {
  color: #FEC22D;
}

@media only screen and (max-width: 36em) {
  nav .navigation .menu--others ul li button {
    font-size: 10px;
    padding: .5rem;
  }
}

.panier--count {
  padding: 1rem;
  background-color: #0f0f0f;
  position: absolute;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  top: -1rem;
  right: -1rem;
  font-weight: bold;
}

.panier--count span {
  font-size: 1.4rem;
}

.btn--resp {
  display: none;
  cursor: pointer;
  font-size: 4rem;
}

@media only screen and (max-width: 1150px) {
  .btn--resp {
    display: block;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 36em) {
  .btn--resp {
    font-size: 2rem;
  }
}

.menu--responsive {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  z-index: 111111111;
  padding: 2rem;
  transition: all .4s ease-in-out;
  width: 25rem;
  background-color: #fff;
}

.menu--responsive .far {
  font-size: 3rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.menu--responsive ul li {
  padding: 1rem 0;
}

.menu--responsive ul li a {
  color: #0f0f0f !important;
  font-size: 18px;
  font-weight: 300;
  transition: all .3s ease-in-out;
}

.menu--responsive ul li a:hover {
  color: #FEC22D;
  text-decoration: none;
}

.menu--hover ul {
  display: block;
  position: absolute;
  min-width: 18rem;
  background-color: #F8F7F7;
  right: 0;
  padding-left: 0;
  top: 4rem;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 36em) {
  .menu--hover ul {
    left: 0 !important;
  }
}

.menu--hover ul a {
  color: rgba(15, 15, 15, 0.5);
  width: 18rem;
  margin: 0;
}

.menu--hover ul li {
  padding: 1rem;
  transition: all ease-in-out .3s;
  margin: 0 !important;
  width: 100%;
}

.menu--hover ul li:hover {
  background-color: rgba(254, 194, 45, 0.5);
}

.menu--hover:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 111;
}

.scroll {
  background: #fff;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
}

.scroll ul li a {
  color: #0f0f0f !important;
  transition: all .3s ease-in-out;
}

.scroll ul li a:hover {
  color: #FEC22D !important;
}

.header {
  min-height: 100vh;
  background-image: url(../images/BANNIERES-DOMLI.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header .header--text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 30%;
  width: 40%;
}

@media only screen and (max-width: 62em) {
  .header .header--text {
    left: 40%;
    width: 60%;
  }
}

@media only screen and (max-width: 48em) {
  .header .header--text {
    left: 50%;
    width: 90%;
  }
}

.header .header--text h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 48em) {
  .header .header--text h1 {
    font-size: 3rem;
  }
}

.header .header--text p {
  color: #fff;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 48em) {
  .header .header--text p {
    font-size: 1.6rem;
  }
}

.header form {
  display: flex;
}

.header form .group--form {
  background: #fff;
  padding: 1rem 2rem;
  width: 90%;
  border-radius: .5rem 0 0 .5rem;
}

@media only screen and (max-width: 48em) {
  .header form .group--form {
    padding: 1rem 1rem;
  }
}

.header form .group--form i {
  color: #ccc;
  font-size: 2rem;
}

.header form .group--form input {
  padding: 1rem 0 1rem 2rem;
  width: 90%;
  border: none;
}

.header form .group--form input::placeholder {
  font-weight: 400;
  color: #ccc;
}

.header-variete {
  min-height: 50vh;
  background-image: url(/public/images/COVER.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
}

.header-fs {
  min-height: 40vh;
  background-image: linear-gradient(#00000080, #00000080), url(/public/images/top-view-fast-food-mix-hamburger-doner-sandwich-chicken-nuggets-rice-vegetable-salad-chicken-sticks-caesar-salad-mushrooms-pizza-chicken-ragout-french-fries-mayo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header-fs--text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.header-fs--text h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 62em) {
  .header-fs--text h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 36em) {
  .header-fs--text h1 {
    font-size: 2rem;
  }
}

.footer {
  padding: 6rem 0;
  background-color: #343333;
}

.footer h3 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 2rem !important;
}

.footer ul li {
  margin-bottom: 1rem;
  font-weight: 200;
}

.footer ul li a {
  color: #fff;
  transition: all .3s ease-in-out;
  font-size: 1.5rem;
}

.footer ul li a:hover {
  color: #FEC22D;
  text-decoration: none !important;
}

section {
  padding: 6rem 0;
}

.pubs {
  background-color: #343333;
}

.promos {
  padding: 0rem 0 2rem !important;
}

.promos img {
  width: 100%;
  height: 26rem;
  object-fit: contain;
}

.location {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}

.location i {
  font-size: 3rem;
}

.location p {
  margin-left: 1rem;
  color: #fff;
}

.popus h3 {
  font-weight: bold;
  font-size: 2rem;
}

.header-fsb {
  padding: 2rem 0;
}

.header-fsb .__descrip {
  margin-bottom: 2rem;
}

.header-fsb .__descrip h3 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0rem 0 1rem;
  color: #0f0f0f;
}

.header-fsb .__descrip p {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.header-fsb .__descrip p span {
  color: #64B03C;
}

.header-fsb .allergenes {
  display: flex;
  align-items: center;
}

.header-fsb .allergenes i {
  color: #ccc;
  font-size: 6rem;
}

.header-fsb .allergenes h3 {
  font-weight: bold;
  margin-bottom: 0;
}

.header-fsb .allergenes p {
  color: #FEC22D;
  cursor: pointer;
}

.menu-fs {
  background-color: #f0f0f0;
}

.menu-fs h2 {
  font-size: 3rem;
  font-weight: bold;
}

.content-menu .menu-tabs {
  display: flex;
  justify-content: space-between;
}

.content-menu .menu-tabs .nav {
  background-color: #0f0f0f;
  width: 100%;
}

.content-menu .menu-tabs .nav-item {
  width: 50%;
}

.content-menu .menu-tabs .nav-item .nav-link {
  padding: 2rem 8rem;
  color: #fff;
  font-weight: 700;
  transition: all .3s;
  border-bottom: 6px solid;
}

.content-menu .menu-tabs .nav-item .nav-link.active {
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  border-bottom: 6px solid #FEC22D;
}

.content-menu .tab-content {
  border-radius: .5rem;
  background-color: #fff;
  padding: 2rem;
}

.groupimg img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */